@model Hanghoa
@{
    ViewData["Title"] = "updateHH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12" style="height:auto">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit<small>hàng hóa</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    @{
                        if (TempData["alertMessage"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage"].ToString()
                            </div>
                        }
                    }
                    @{
                        if (TempData["alertMessage1"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage1"].ToString()
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <form class="form-label-left input_mask" method="post" role="form">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">ID hàng hóa</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Idhanghoa">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Nhóm hàng</label>
                            <div class="col-md-4 col-sm-4">
                                <select asp-for="MaNhom" class="form-control">
                                    @{
                                        foreach (var item in ViewBag._nhomhanghoa)
                                        {
                                            if (item.Manhom == ViewBag._hanghoa.MaNhom)
                                            {
                                                <option selected value="@item.Manhom">@item.Manhom</option>

                                            }
                                            else
                                            {
                                                <option value="@item.Manhom">@item.Manhom</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Mã hàng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Mahang">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Tên hàng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Tenhang" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Tên hàng VAT</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Tenhangvat">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">VAT</label>
                            <div class="col-md-4 col-sm-4">
                                <select asp-for="Vat" class="form-control">
                                    @{
                                        if (Model.Vat == 0)
                                        {
                                            <option value="0" selected>0</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        }
                                        else if (Model.Vat == 5)
                                        {
                                            <option value="0">0</option>
                                            <option value="5" selected>5</option>
                                            <option value="10">10</option>
                                        }
                                        else if (Model.Vat == 10)
                                        {
                                            <option value="0">0</option>
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">ĐVT</label>
                            <div class="col-md-4 col-sm-4">
                                <select asp-for="Dvt" class="form-control">
                                    @{
                                        if (Model.Dvt.Trim() == "KGS")
                                        {
                                            <option value="KGS" selected>KGS</option>
                                            <option value="TAN">TAN</option>
                                            <option value="CAI">CAI</option>
                                        }
                                        else if (Model.Dvt.Trim() == "TAN")
                                        {
                                            <option value="KGS">KGS</option>
                                            <option value="TAN" selected>TAN</option>
                                            <option value="CAI">CAI</option>
                                        }
                                        else if (Model.Dvt.Trim() == "CAI")
                                        {
                                            <option value="KGS">KGS</option>
                                            <option value="TAN">TAN</option>
                                            <option value="CAI" selected>CAI</option>
                                        }
                                    }

                                </select>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Giao dịch</label>
                            <div class="col-md-4 col-sm-4">
                                <select asp-for="Sudung" class="form-control">
                                    @{
                                        if (Model.Sudung == 0)
                                        {
                                            <option value="0" selected>Ngừng giao dịch</option>
                                            <option value="1">Đang giao dịch</option>
                                        }
                                        else
                                        {
                                            <option value="0">Ngừng giao dịch</option>
                                            <option value="1" selected>Đang giao dịch</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Bao bì</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea type="text" class="form-control" id="inputSuccess2" asp-for="Baobi"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Kiểm định</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea type="text" class="form-control" id="inputSuccess2" asp-for="Kiemdinh"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Quy cách</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea type="text" class="form-control" id="inputSuccess2" asp-for="Quicach"></textarea>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <div class="col-md-9 col-sm-9  offset-md-5">
                                <button type="submit" asp-action="updateHH" asp-controller="danhmuc" class="btn btn-primary" style="margin-top: 30px">Edit hàng hóa</button>
                                <button type="submit" asp-action="deletehanghoa" asp-controller="danhmuc" asp-route-id="@Model.Idhanghoa" class="btn btn-danger" style="margin-top: 30px">Delete hàng hóa</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>











