
@{
    ViewData["Title"] = "editcthd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Hdmb
<style>
    .input-validation-error {
        border-color: red;
</style>
<div class="right_col" role="main" style="height:800px">
    <div class="">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel aaa">
                <div class="x_title">
                    <h2>Thêm<small>hợp đồng</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    @{
                        if (TempData["alertMessage"] != null)
                        {
                            <div style="color:red;font-size:25px">
                                @TempData["alertMessage"].ToString()
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <form class="form-label-left input_mask" method="post" role="form">
                        <div class="form-row">
                            <label>Hình thức kinh doanh</label>
                            <label style="margin-left:210px">Loại hợp đồng</label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div style="width:200px ; border:1px dashed;border-color:black;">
                                    @{
                                        if (Model.TypeKd == 0)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.TypeKd)" id="inlineRadio1" value="0" checked>
                                                <label class="form-check-label" for="inlineRadio1">Trực tiếp</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.TypeKd)" id="inlineRadio2" value="1">
                                                <label class="form-check-label" for="inlineRadio2">Ủy thác</label>
                                            </div>
                                        }
                                        else if (Model.TypeKd == 1)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.TypeKd)" id="inlineRadio1" value="0">
                                                <label class="form-check-label" for="inlineRadio1">Trực tiếp</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.TypeKd)" id="inlineRadio2" value="1" checked>
                                                <label class="form-check-label" for="inlineRadio2">Ủy thác</label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="form-group col-md-7" style="border:1px dashed;border-color:black">

                                @{
                                    if (Model.MuaBan == "MUA")
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio1" value="MUA" checked>
                                            <label class="form-check-label" for="inlineRadio1">Mua hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio2" value="BAN">
                                            <label class="form-check-label" for="inlineRadio2">Bàn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show2();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="MUON">
                                            <label class="form-check-label" for="inlineRadio3">Mượn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="CMUON">
                                            <label class="form-check-label" for="inlineRadio3">Cho mượn</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="KTRA">
                                            <label class="form-check-label" for="inlineRadio3">Khách trả</label>
                                        </div>
                                    }
                                    else if (Model.MuaBan == "BAN")
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio1" value="MUA">
                                            <label class="form-check-label" for="inlineRadio1">Mua hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio2" value="BAN" checked>
                                            <label class="form-check-label" for="inlineRadio2">Bàn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show2();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="MUON">
                                            <label class="form-check-label" for="inlineRadio3">Mượn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="CMUON">
                                            <label class="form-check-label" for="inlineRadio3">Cho mượn</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="KTRA">
                                            <label class="form-check-label" for="inlineRadio3">Khách trả</label>
                                        </div>
                                    }
                                    else if (Model.MuaBan == "MUON")
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio1" value="MUA">
                                            <label class="form-check-label" for="inlineRadio1">Mua hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio2" value="BAN">
                                            <label class="form-check-label" for="inlineRadio2">Bàn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show2();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="MUON" checked>
                                            <label class="form-check-label" for="inlineRadio3">Mượn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="CMUON">
                                            <label class="form-check-label" for="inlineRadio3">Cho mượn</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="KTRA">
                                            <label class="form-check-label" for="inlineRadio3">Khách trả</label>
                                        </div>
                                    }
                                    else if (Model.MuaBan == "CMUON")
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio1" value="MUA">
                                            <label class="form-check-label" for="inlineRadio1">Mua hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio2" value="BAN">
                                            <label class="form-check-label" for="inlineRadio2">Bàn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show2();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="MUON">
                                            <label class="form-check-label" for="inlineRadio3">Mượn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="CMUON" checked>
                                            <label class="form-check-label" for="inlineRadio3">Cho mượn</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onclick="show();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="KTRA">
                                            <label class="form-check-label" for="inlineRadio3">Khách trả</label>
                                        </div>
                                    }
                                    else if (Model.MuaBan == "KTRA")
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio1" value="MUA">
                                            <label class="form-check-label" for="inlineRadio1">Mua hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio2" value="BAN">
                                            <label class="form-check-label" for="inlineRadio2">Bàn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show2();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="MUON">
                                            <label class="form-check-label" for="inlineRadio3">Mượn hàng</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show1();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="CMUON">
                                            <label class="form-check-label" for="inlineRadio3">Cho mượn</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" onfocus="show();" name="@Html.NameFor(m => m.MuaBan)" id="inlineRadio3" value="KTRA" checked>
                                            <label class="form-check-label" for="inlineRadio3">Khách trả</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">System ID</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" required="required" placeholder="System ID" asp-for="Systemref">
                                <span asp-validation-for="Systemref" class="text-danger"></span>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Ref</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" placeholder="Ref" required asp-for="Ref">
                                <span asp-validation-for="Ref" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Tiền tệ</label>
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control" asp-for="Tiente">
                                    @{
                                        if (Model.Tiente.ToString().Trim() == "VND")
                                        {
                                            <option value="VND" selected>VND</option>
                                            <option value="USD">USD</option>
                                        }
                                        else if (Model.Tiente.ToString().Trim() == "USD")
                                        {
                                            <option value="VND">VND</option>
                                            <option value="USD" selected>USD</option>
                                        }
                                        else
                                        {
                                            <option value="VND" selected>VND</option>
                                            <option value="USD">USD</option>
                                        }
                                    }

                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                @{
                                    if (Model.Pakd == true)
                                    {
                                        <input class="form-check-input js-switch" type="checkbox" name="@Html.NameFor(a => a.Pakd)" style="margin-left:20px" value="true" checked>
                                        <input type="hidden" value="false" name="@Html.NameFor(a => a.Pakd)">
                                        <label class="form-check-label" for="inlineCheckbox1" style="font-size:18px">Hợp đồng bắt buộc có PAKD</label>

                                    }
                                    else
                                    {
                                        <input class="form-check-input js-switch" name="@Html.NameFor(a => a.Pakd)" type="checkbox" value="true" style="margin-left:20px">
                                        <input type="hidden" value="false" name="@Html.NameFor(a => a.Pakd)">
                                        <label class="form-check-label" for="inlineCheckbox1" style="font-size:18px">Hợp đồng bắt buộc có PAKD</label>
                                    }
                                    if (Model.IsNoKhoDoi == true)
                                    {
                                        <input class="form-check-input js-switch" type="checkbox" name="@Html.NameFor(a => a.IsNoKhoDoi)" value="true" style="margin-left:30px" checked>
                                        <input type="hidden" value="false" name="@Html.NameFor(a => a.IsNoKhoDoi)">
                                        <label class="form-check-label" for="inlineCheckbox1" style="font-size:18px">Hợp đồng nợ khó đòi</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input js-switch" type="checkbox" name="@Html.NameFor(a => a.IsNoKhoDoi)" value="true" style="margin-left:30px">
                                        <input type="hidden" value="false" name="@Html.NameFor(a => a.IsNoKhoDoi)">
                                        <label class="form-check-label" for="inlineCheckbox1" style="font-size:18px">Hợp đồng nợ khó đòi</label>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Khách hàng</label>
                            <div class="col-md-4 col-sm-4">
                                <input list="khachhang" class="form-control" asp-for="Makhach" required>
                                <datalist id="khachhang">
                                    @{
                                        foreach (var a in ViewBag.kh)
                                        {
                                            <option value="@a.MaKhach">@a.MaKhach || @a.TenKhach || @a.TenFull</option>
                                        }
                                    }

                                </datalist>
                                <span asp-validation-for="Makhach" class="text-danger"></span>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Vận chuyển</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="vanchuyentextbox" required placeholder="Vận chuyển" asp-for="VanChuyen">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Số hợp đồng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" placeholder="Số hợp đồng" required asp-for="Sohd">
                            </div>
                            @{
                                if (Model.MuaBan == "KTRA")
                                {
                                    <label class="col-form-label col-md-2 col-sm-2" id="divhdchomuon">Hợp đồng cho mượn</label>
                                    <div class="col-form-label col-md-4 col-sm-4" id="divhdchomuon1">
                                        <input list="hdchomuon" class="form-control" asp-for="HdcmuonId">
                                        <datalist id="hdchomuon">
                                            @{
                                                foreach (var item in ViewBag.hdchomuon)
                                                {
                                                    <option value="@item.Systemref">@item.Ref || @item.Sohd || @item.Makhach</option>
                                                }
                                            }

                                        </datalist>
                                        <span asp-validation-for="HdcmuonId" class="text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <label class="col-form-label col-md-2 col-sm-2" style="display:none" id="divhdchomuon">Hợp đồng cho mượn</label>
                                    <div class="col-form-label col-md-4 col-sm-4" style="display:none" id="divhdchomuon1">
                                        <input list="hdchomuon" class="form-control" asp-for="HdcmuonId">
                                        <datalist id="hdchomuon">
                                            @{
                                                foreach (var item in ViewBag.hdchomuon)
                                                {
                                                    <option value="@item.Systemref">@item.Ref || @item.Sohd || @item.Makhach</option>
                                                }
                                            }

                                        </datalist>
                                        <span asp-validation-for="HdcmuonId" class="text-danger"></span>
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">INT ký</label>
                            <div class="col-md-4 col-sm-4">
                                <input list="intky" class="form-control" asp-for="IntKy" required value="@Model.IntKy.ToString().Trim()">
                                <datalist id="intky">
                                    @{
                                        foreach (var item in ViewBag.intky)
                                        {
                                            <option value="@item.MaKhach@item.Stt"> || @item.Nguoiky chức vụ @item.Chucvu</option>
                                        }
                                    }

                                </datalist>
                                <span asp-validation-for="IntKy" class="text-danger"></span>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Khách ký</label>
                            <div class="col-md-4 col-sm-4">
                                <input list="browsers" class="form-control" asp-for="ClientKy" value="@Model.ClientKy.ToString().Trim()">
                                <datalist id="browsers">
                                    @{
                                        foreach (var item in ViewBag.client)
                                        {
                                            <option value="@item.MaKhach@item.Stt"> || @item.Nguoiky chức vụ @item.Chucvu</option>
                                        }
                                    }
                                </datalist>
                                <span asp-validation-for="ClientKy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Thanh toán</label>
                            <div class="col-md-4 col-sm-4">
                                <input list="thanhtoan" class="form-control" asp-for="ThanhtoanId">
                                <datalist id="thanhtoan">
                                    @{
                                        foreach (var item in ViewBag.thanhtoan)
                                        {
                                            <option value="@item.Id">@item.Matt || @item.TenTt || @item.Mucung</option>
                                        }
                                    }

                                </datalist>
                                <span asp-validation-for="ThanhtoanId" class="text-danger"></span>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Hình thức giá</label>
                            <div class="col-md-4 col-sm-4">
                                @{
                                    if (Model.IsFix == false)
                                    {
                                        <label class="radio-inline">
                                            <input type="radio" name="@Html.NameFor(m => m.IsFix)" value="false" checked><span style="font-size:20px">Giá outright</span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="@Html.NameFor(m => m.IsFix)" value="true" style="margin-left:15px"><span style="font-size:20px">Giá trừ lùi</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="radio-inline">
                                            <input type="radio" name="@Html.NameFor(m => m.IsFix)" value="false"><span style="font-size:20px">Giá outright</span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="@Html.NameFor(m => m.IsFix)" value="true" style="margin-left:15px" checked><span style="font-size:20px">Giá trừ lùi</span>
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Địa điểm giao hàng</label>
                            <div class="col-md-10 col-sm-10">
                                <input list="diadiemgiaohang" class="form-control" asp-for="DiaDiemGiaoHang" required>
                                <datalist id="diadiemgiaohang">
                                    @{
                                        foreach (var item1 in ViewBag.diadiemgiaohang)
                                        {
                                            <option value="@item1.DiaDiemGiaoHang">@*@item1.DiaDiemGiaoHang*@</option>
                                        }
                                    }

                                </datalist>
                                <span asp-validation-for="DiaDiemGiaoHang" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Mức ứng</label>
                            <div class="col-md-2 col-sm-2">
                                <input type="text" class="form-control" id="inputSuccess2" value="@ViewBag.mucung ">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Tạm ứng theo HĐ</label>
                            <div class="col-md-2 col-sm-2">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="TienUngHd" required>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Tạm ứng thực tế</label>
                            <div class="col-md-2 col-sm-2">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="TienUngTt">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Ngày hợp đồng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="date" class="form-control" id="inputSuccess2" asp-for="Ngayky">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Ngày giao hàng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="date" class="form-control" id="inputSuccess2" asp-for="Ngaygiao">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Ngày hiệu lực</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="date" class="form-control" id="inputSuccess2" asp-for="Ngayhl">
                            </div>
                            @{
                                if (Model.MuaBan == "MUON")
                                {
                                    <label class="col-form-label col-md-2 col-sm-2" id="ngaytra">Ngày trả</label>
                                    <div class="col-md-4 col-sm-4" id="ngaytra1">
                                        <input type="date" class="form-control" id="inputSuccess2" asp-for="NgayTraPhaitra">
                                    </div>
                                }
                                else
                                {
                                    <label class="col-form-label col-md-2 col-sm-2" id="ngaytra" style="display:none">Ngày trả</label>
                                    <div class="col-md-4 col-sm-4" id="ngaytra1" style="display:none">
                                        <input type="date" class="form-control" id="inputSuccess2" asp-for="NgayTraPhaitra">
                                    </div>
                                }
                            }

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Ghi chú</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea type="text" class="form-control" id="inputSuccess2" asp-for="Ghichu"></textarea>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <div class="col-md-9 col-sm-9  offset-md-5">
                                <button class="btn btn-danger" asp-action="deletehopdong" onclick="return confirm('Are you sure you want to delete this item?');" asp-controller="hopdong" asp-route-id="@Model.Systemref" type="submit">Hủy hợp đồng</button>
                                <button type="submit" asp-action="edithopdong" asp-controller="hopdong" asp-route-id="@Model.Systemref" class="btn btn-primary">Edit hợp đồng</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th border="1" style="border-color:black">SystemRef</th>
                                        <th border="1" style="border-color:black">Mã hàng</th>
                                        <th border="1" style="border-color:black">Tên hàng</th>
                                        <th border="1" style="border-color:black">Số lượng</th>
                                        <th border="1" style="border-color:black">Trọng lượng</th>
                                        <th border="1" style="border-color:black">ĐVT</th>
                                        <th border="1" style="border-color:black">VAT</th>
                                        <th border="1" style="border-color:black">Action</th>
                                        <th border="1" style="border-color:black">Giá</th>
                                        <th border="1" style="border-color:black">Giá tạm tính</th>
                                        <th border="1" style="border-color:black">Số LOT</th>
                                        <th border="1" style="border-color:black">Giá tháng</th>
                                        <th border="1" style="border-color:black">Giá năm</th>
                                        <th border="1" style="border-color:black">+ / -</th>
                                        <th border="1" style="border-color:black">Mức trừ</th>
                                        <th border="1" style="border-color:black">Ngày chốt</th>
                                        <th border="1" style="border-color:black">Mức stoploss</th>
                                        <th border="1" style="border-color:black">Mã nhóm</th>
                                        <th border="1" style="border-color:black">Giá thị trường</th>
                                        <th border="1" style="border-color:black">Mức thưởng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.cthdmb)
                                        {
                                            <tr>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Systemref</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Mahang</th>
                                                <th scope="col" style="border-color:black">@item.hanghoa.Tenhang</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Soluong</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Trongluong.ToString("N")</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Dvt</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Vat</th>
                                                @{
                                                    if (Model.IsFix == false)
                                                    {
                                                        <th scope="col" style="border-color:black">
                                                        <a class='btn btn-default btn-sm' onclick=PopupFormEdit('@Url.Action("updatecthdoutright","hopdong")/@item.ctHdmb.Id')>
                                                        <i class='fa fa-pencil'></i> Edit</a> / <a class='btn btn-default btn-sm' style='margin-left:5px' asp-action="deletecthd" onclick="return confirm('Are you sure you want to delete this item?');" asp-controller="hopdong" asp-route-id="@item.ctHdmb.Id" type="submit">
                                                        <i class='fa fa-trash'></i> Delete</a></th>
                                                    }
                                                    else
                                                    {
                                                        <th scope="col" style="border-color:black"><a class='btn btn-default btn-sm' onclick=PopupFormEdit('@Url.Action("updatecthd","hopdong")/@item.ctHdmb.Id')><i class='fa fa-pencil'></i> Edit</a> / <a class='btn btn-default btn-sm' style='margin-left:5px' asp-action="deletecthd" onclick="return confirm('Are you sure you want to delete this item?');" asp-controller="hopdong" asp-route-id="@item.ctHdmb.Id" type="submit"><i class='fa fa-trash'></i> Delete</a></th>
                                                    }
                                                }
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Giact.ToString("N")</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Giatt.ToString("N")</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Solot</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Giathang</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Gianam</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Sig</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Diff</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.FNgayfix</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Stoploss</th>
                                                <th scope="col" style="border-color:black">@item.hanghoa.MaNhom</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Giathitruong</th>
                                                <th scope="col" style="border-color:black">@item.ctHdmb.Mucthuong</th>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    @{
                        if (Model.IsFix == false)
                        {
                            <div>
                                <a class="btn btn-success" style="margin-bottom:10px" onclick=PopupForm('@Url.Action("addcthdoutright","hopdong")/@Model.Systemref')><i class="fa fa-plus"></i> Add New</a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a class="btn btn-success" style="margin-bottom:10px" onclick=PopupFormAddCthd('@Url.Action("addcthd","hopdong")/@Model.Systemref')><i class="fa fa-plus"></i> Add New</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>











