
@{
    ViewData["Title"] = "editcthd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model CtHdmb
@{
    if (TempData["alertMessage"] != null)
    {
        <div style="color:red">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
<style>
    .input-validation-error {
        border-color: red;
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12" style="height:auto">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit<small>chi tiết hợp đồng mua bán Outright</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    @{
                        if (TempData["alertMessage"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage"].ToString()
                            </div>
                        }
                    }
                    @{
                        if (TempData["alertMessage1"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage1"].ToString()
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <form class="form-label-left input_mask" method="post" role="form" asp-action="edithopdong" asp-controller="hopdong" asp-route-id="@Model.Systemref">
                        <div class="form-group row" >
                            <label class="col-form-label col-md-1 col-sm-1">System ID</label>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" readonly  value="@ViewBag.systemId" asp-for="Systemref">
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" readonly  value="@ViewBag.refid" asp-for="Ref">
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" readonly value="@ViewBag.sohd" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Mã hàng</label>
                            <div class="col-md-4 col-sm-4">
                                <input list="dropdownHH1" id="dropdownHH" required="required" class="form-control" asp-for="Mahang">
                                <datalist id="dropdownHH1" onchange="funcMahang()">
                                    @{
                                        foreach (var a in ViewBag.hh)
                                        {
                                            <option value="@a.Mahang">@a.Mahang || @a.Tenhang || @a.MaNhom</option>
                                        }
                                    }
                                </datalist>
                                <span asp-validation-for="Mahang" class="text-danger"></span>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Giá TT</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess3" asp-for="Giatt">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Đơn vị tính theo HĐ</label>
                            <div class="col-md-4 col-sm-4">
                                @{
                                    if (Model.DvtTheoHd == "KGS")
                                    {
                                        <select class="form-control" asp-for="DvtTheoHd" required>
                                            <option value="KGS" selected>KGS</option>
                                            <option value="MTS">MTS</option>
                                            <option value="LBS">LBS</option>
                                        </select>
                                    }
                                    else if (Model.DvtTheoHd == "MTS")
                                    {
                                        <select class="form-control" asp-for="DvtTheoHd" required>
                                            <option value="KGS">KGS</option>
                                            <option value="MTS" selected>MTS</option>
                                            <option value="LBS">LBS</option>
                                        </select>
                                    }
                                    else if (Model.DvtTheoHd == "LBS")
                                    {
                                        <select class="form-control" asp-for="DvtTheoHd" required>
                                            <option value="KGS">KGS</option>
                                            <option value="MTS">MTS</option>
                                            <option value="LBS" selected>LBS</option>
                                        </select>
                                    }
                                }

                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Thuế VAT</label>
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control" asp-for="Vat" required>
                                    @{
                                        if (Model.Vat == 0)
                                        {
                                            <option value="0" selected>0</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        }
                                        else if (Model.Vat == 5)
                                        {
                                            <option value="0" selected>0</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        }
                                        else if (Model.Vat == 10)
                                        {
                                            <option value="0" >0</option>
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Số lượng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Soluong">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Sig</label>
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control" asp-for="Sig">
                                    @{
                                        if (Model.Sig == "+")
                                        {
                                            <option value="+" selected>+</option>
                                            <option value="-">-</option>
                                        }
                                        else if (Model.Sig == "-")
                                        {
                                            <option value="+">+</option>
                                            <option value="-" selected>-</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Trọng lượng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Trongluong">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Mức trừ hoặc cộng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess3" asp-for="Diff">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Số LOT</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Solot">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Ngày chốt cuối</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="date" class="form-control" id="inputSuccess3" asp-for="FNgayfix">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Giá tháng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Giathang">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Mức stoploss</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess3" asp-for="Stoploss">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Giá năm</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Gianam">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2"></label>
                            <div class="col-md-4 col-sm-4">
                                @{
                                    if (Model.ChuyenThang == true)
                                    {
                                        <label><input type="checkbox" class="js-switch" name="@Html.NameFor(m => m.ChuyenThang)" value="true" style="margin-left:5px" checked /> Chuyển tháng </label>
                                        <input type="hidden" class="js-switch" name="@Html.NameFor(m => m.ChuyenThang)" value="false" style="margin-left:5px" />
                                    }
                                    else
                                    {
                                        <label><input type="checkbox" class="js-switch" name="@Html.NameFor(m => m.ChuyenThang)" value="true" style="margin-left:5px" /> Chuyển tháng </label>
                                        <input type="hidden" class="js-switch" name="@Html.NameFor(m => m.ChuyenThang)" value="false" style="margin-left:5px" />
                                    }
                                }

                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Giá thị trường</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Giathitruong">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Mức thưởng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess3" asp-for="Mucthuong">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="submit" class="btn btn-success" asp-action="editcthd" asp-controller="hopdong" asp-route-id="@Model.Id">Submit</button>
                                <button class="btn btn-danger" asp-action="deletecthd" onclick="return confirm('Are you sure you want to delete this item?');" asp-controller="hopdong" asp-route-id="@Model.Id" type="submit">Xóa chi tiết hợp đồng</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>











