@using System.Linq;
@{
    ViewData["Title"] = "hdmb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ViewModelHDMB>
<div class="right_col" role="main" style="height: 500px">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Hợp đồng mua bán</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @{
            if (TempData["alertMessage"] != null)
            {
                <div style="color:red;font-size:30px">
                    @TempData["alertMessage"].ToString()
                </div>
            }
        }
        @{
            if (TempData["alertMessage1"] != null)
            {
                <div style="color:red;font-size:30px">
                    @TempData["alertMessage1"].ToString()
                </div>
            }
        }
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hợp đồng mua bán</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-check-inline">
                            <input type="radio" name="Month" value="All" checked="checked" style="margin-left:10px"/>All
                            <input type="radio" name="Month" value="MUA" style="margin-left:10px"/>Mua
                            <input type="radio" name="Month" value="BAN" style="margin-left:10px"/>Bán
                            <input type="radio" name="Month" value="MUON" style="margin-left:10px"/>Mượn
                            <input type="radio" name="Month" value="CMUON" style="margin-left:10px"/>Cho mượn
                            <input type="radio" name="Month" value="KTRA" style="margin-left:10px"/>Khách trả
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>System ID</th>
                                                <th>Ref</th>
                                                <th>Số HĐ</th>
                                                <th>Mã khách hàng</th>
                                                <th>Khách hàng</th>
                                                <th>Ngày hợp đồng</th>
                                                <th>Tiền tệ</th>
                                                <th>Vận chuyển</th>
                                                <th>INT ký</th>
                                                <th>Khách ký</th>
                                                <th>Thanh toán</th>
                                                <th>Địa điểm giao hàng</th>
                                                <th>Mức ứng</th>
                                                <th>Tạm ứng theo HĐ</th>
                                                <th>Ngày giao hàng</th>
                                                <th>Ngày hiệu lực</th>
                                                <th>Ghi chú</th>
                                                <th>Hình thức KD</th>
                                                <th>Loại hợp đồng</th>
                                                <th>Hình thức gía</th>
                                                <th>Mã đơn vị</th>
                                                <th>Người tạo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model)
                                                {
                                                    <tr class="dataRow">
                                                        <th>@item.hdmb.Systemref</th>
                                                        <th><a asp-action="cthdmb" asp-controller="hopdong" asp-route-id="@item.hdmb.Systemref">@item.hdmb.Ref</a></th>
                                                        <th>@item.hdmb.Sohd</th>
                                                        <th>@item.hdmb.Makhach</th>
                                                        <th>@item.khachHang.TenKhach</th>
                                                        <th>@item.hdmb.Ngayky</th>
                                                        <th>@item.hdmb.Tiente</th>
                                                        <th>@item.hdmb.VanChuyen</th>
                                                        @{

                                                            string str = item.hdmb.IntKy.Trim();
                                                            int c = str.Length;
                                                            if (c > 1)
                                                            {
                                                                string str1 = str.Substring(str.Length - 1, 1);
                                                                foreach (var a in ViewBag.signer)
                                                                {
                                                                    if (a.MaKhach == item.hdmb.Macn.Trim() && a.Stt.ToString() == str1)
                                                                    {
                                                                        <th>@a.Nguoiky chức vụ @a.Chucvu</th>
                                                                    }

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <th></th>
                                                            }
                                                        }

                                                        @{

                                                            string strKH = item.hdmb.ClientKy.Trim();
                                                            int b = strKH.Length;
                                                            if (b > 0)
                                                            {
                                                                string strKH1 = strKH.Substring(b - 1, 1);
                                                                foreach (var a in ViewBag.signer)
                                                                {
                                                                    if (a.MaKhach == item.hdmb.Makhach && a.Stt.ToString() == strKH1)
                                                                    {
                                                                        <th>@a.Nguoiky chức vụ @a.Chucvu</th>
                                                                    }

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <th></th>
                                                            }



                                                        }
                                                        <th>@item.hdmb.Thanhtoan || @item.portfolioPayment.TenTt</th>
                                                        <th>@item.hdmb.DiaDiemGiaoHang</th>
                                                        <th>@item.portfolioPayment.Mucung</th>
                                                        <th>@item.hdmb.TienUngHd.ToString("N")</th>
                                                        <th>@item.hdmb.Ngaygiao</th>
                                                        <th>@item.hdmb.Ngayhl</th>
                                                        <th>@item.hdmb.Ghichu</th>
                                                        @{
                                                            if (item.hdmb.TypeKd == 0)
                                                            {
                                                                <th>Trực tiếp</th>
                                                            }
                                                            else
                                                            {
                                                                <th>Ủy thác</th>
                                                            }
                                                        }

                                                        <th class="aaa">@item.hdmb.MuaBan</th>
                                                        @{
                                                            if (item.hdmb.IsFix == true)
                                                            {
                                                                <th>Giá outright</th>
                                                            }
                                                            else
                                                            {
                                                                <th>Giá trừ lùi</th>
                                                            }
                                                        }

                                                        <th>@item.hdmb.Macn</th>
                                                        <th>@item.hdmb.Nguoilam</th>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- /page content -->
<!-- footer content -->
