
@{
    ViewData["Title"] = "themcthdoutright";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model CtHdmb
@{
    if (TempData["alertMessage"] != null)
    {
        <div style="color:red">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
<style>
    .input-validation-error {
        border-color: red;
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12" style="height:auto">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm<small>chi tiết hợp đồng mua bán Outright</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    @{
                        if (TempData["alertMessage"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage"].ToString()
                            </div>
                        }
                    }
                    @{
                        if (TempData["alertMessage1"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage1"].ToString()
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <form class="form-label-left input_mask" method="post" role="form">
                        <div class="form-group row">
                            <label class="col-form-label col-md-1 col-sm-1">System ID</label>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" readonly value="@ViewBag.systemId" asp-for="Systemref">
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" readonly value="@ViewBag.refid" asp-for="Ref">
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" readonly value="@ViewBag.sohd" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Mã hàng</label>
                            <div class="col-md-2 col-sm-2">
                                <input list="dropdownHH1" id="dropdownHH" class="form-control" asp-for="Mahang" required>
                                <datalist id="dropdownHH1" onchange="funcMahang()">
                                    @{
                                        foreach (var a in ViewBag.hh)
                                        {
                                            <option value="@a.Mahang">@a.Mahang || @a.Tenhang || @a.MaNhom</option>
                                        }
                                    }
                                </datalist>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Đơn vị tính theo HĐ</label>
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" asp-for="DvtTheoHd" required>
                                    <option value="KGS" selected>KGS</option>
                                    <option value="MTS">MTS</option>
                                    <option value="LBS">LBS</option>
                                </select>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Thuế VAT</label>
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" asp-for="Vat" required>
                                    <option value="0">0</option>
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Số lượng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Soluong">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Trọng lượng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Trongluong" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Giá Outright theo HĐ</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="GiaTheoHd" required>
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Giá Outright</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Giact" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Giá thị trường</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Giathitruong">
                            </div>
                            <label class="col-form-label col-md-2 col-sm-2">Mức thưởng</label>
                            <div class="col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="inputSuccess2" asp-for="Mucthuong">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="submit" asp-action="themcthdoutright" asp-controller="hopdong" asp-route-id="@ViewBag.systemId" class="btn btn-primary" style="margin-top: 30px">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>











