@model Data.Models.Trading_system.Hanghoa
<style>
    .custom-file-upload {
        border: 1px solid #161515;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        color: black;
    }
</style>
<form method="post" asp-action="AddOrEdit_HangHoa" asp-controller="HangHoa" asp-route-id="@ViewBag.id" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Nhóm hàng</label>
            <div class="col-md-4 col-sm-4">
                @(Html.DevExtreme().SelectBoxFor(m => m.MaNhom).DataSource(d => d.Mvc().LoadAction("Getnhomhang")
                                                                                           .Controller("Lookup"))
                                                                                            .DisplayExpr("TenNhom")
                                                                                            .ValueExpr("Manhom")
                                                                                            .SearchEnabled(true))
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Mã hàng</label>
            <div class="col-md-4 col-sm-4">
                @Html.DevExtreme().TextBoxFor(m => m.Mahang)
            </div>
            <label class="col-form-label col-md-1 col-sm-1">Tên hàng</label>
            <div class="col-md-5 col-sm-5">
                @Html.DevExtreme().TextBoxFor(m => m.Tenhang)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Tên hàng VAT</label>
            <div class="col-md-10 col-sm-10">
                @(Html.DevExtreme().TextBoxFor(m => m.Tenhangvat))
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Tên hàng theo niên vụ</label>
            <div class="col-md-10 col-sm-10">
                @(Html.DevExtreme().TextBoxFor(m => m.Fullname))
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">VAT</label>
            <div class="col-md-4 col-sm-4">
                @Html.DevExtreme().SelectBoxFor(m => m.Vat).DataSource(new JS("VAT")).ValueExpr("id").DisplayExpr("id")
            </div>
            <label class="col-form-label col-md-1 col-sm-1">ĐVT</label>
            <div class="col-md-5 col-sm-5">
                @Html.DevExtreme().SelectBoxFor(m => m.Dvt).DataSource(new[] { "KGS","TAN","CAI"})
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Giao dịch</label>
            <div class="col-md-4 col-sm-4">
                @Html.DevExtreme().SelectBoxFor(m => m.Sudung).DataSource(new JS("GIAODICH")).ValueExpr("id").DisplayExpr("name")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Bao bì</label>
            <div class="col-md-10 col-sm-10">
                @Html.DevExtreme().TextAreaFor(m => m.Baobi)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Kiểm định</label>
            <div class="col-md-10 col-sm-10">
                @Html.DevExtreme().TextAreaFor(m => m.Baobi)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 col-sm-2">Qui cách</label>
            <div class="col-md-10 col-sm-10">
                @Html.DevExtreme().TextAreaFor(m => m.Baobi)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @(Html.DevExtreme().Button()
                                        .ID("button")
                                        .Text("Submit")
                                        .Type(ButtonType.Success)
                                        .UseSubmitBehavior(true)
                                    )
    </div>
</form>

