
@{
    ViewData["Title"] = "AddPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-box-hdmb {
        height: 28px;
        position: relative;
        min-height: 1px;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        font-size: small;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        @{
            if (TempData["alertMessage"] != null)
            {
                <div style="color:red;font-size:30px">
                    @TempData["alertMessage"].ToString()
                </div>
            }
        }
        <input type="text" value="@ViewBag.SystemRef" id="Id_HDMB" hidden>
        <div class="clearfix"></div>
        <div class="row" id="row">
            <div class="col-md-12 col-sm-12" style="height:auto">
                <div class="form-group row" style="margin-bottom:0px">
                    <label class="col-form-label col-md-2 col-sm-2">Số PA</label>
                    <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="SoPa">
                    <label class="col-form-label col-md-2 col-sm-2">ID PAKD</label>
                    <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="PlansId" disabled />
                </div>
                <div class="form-group row" style="margin-bottom:0px">
                    <label class="col-form-label col-md-2 col-sm-2">Trọng lượng PA</label>
                    <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="Trongluong" disabled>
                    <label class="col-form-label col-md-2 col-sm-2">Trọng lượng cần ghép</label>
                    <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="TLCanGhep" disabled />
                </div>
                <div class="form-group row" style="margin-bottom:0px">
                    <input type="checkbox" style="margin:10px 10px 0px 10px" value="true" id="Pakd" disabled>
                    <input type="hidden" value="false" hidden>
                    <label class="col-form-label">PA hoàn thành ghép</label>
                </div>
                <input type="text" value="@ViewBag.checkMuaBan" hidden id="txtCheckMuaBan">
                @*Hợp đồng bán*@
                <form id="Form_PairedPlans" method="post">
                    <hr size="3">
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-12 col-sm-12">Hợp đồng bán</label>
                    </div>
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-2 col-sm-2">Số HĐ</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtSoHD_BAN" name="txtSoHD_BAN">
                        <label class="col-form-label col-md-2 col-sm-2">ID HĐ</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtIdHD_BAN" name="txtIdHD_BAN" />
                    </div>
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-2 col-sm-2">Trọng lượng HĐ</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtTrongLuongHD_BAN" name="txtTrongLuongHD_BAN">
                        <label class="col-form-label col-md-2 col-sm-2">ĐVT</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtDvtHD_BAN" name="txtDvtHD_BAN" />
                    </div>
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-2 col-sm-2">Trọng lượng ghép</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtTrongLuongGhepHD_BAN" name="txtTrongLuongGhepHD_BAN">
                        <input type="checkbox" style="margin:10px 10px 0px 10px" value="0" id="ChbHoangThanhGhepHd_BAN" name="ChbHoangThanhGhepHd_BAN">
                        <input type="hidden" value="1" hidden id="ChbHoangThanhGhepHd_BAN" name="ChbHoangThanhGhepHd_BAN">
                        <label class="col-form-label">HĐ hoàn thành ghép</label>
                    </div>
                    @*Hợp đồng mua*@
                    <hr size="3">
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-12 col-sm-12">Hợp đồng mua</label>
                    </div>
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-2 col-sm-2">Số HĐ</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtSoHD_MUA" name="txtSoHD_MUA">
                        <label class="col-form-label col-md-2 col-sm-2">ID HĐ</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtIdHD_MUA" name="txtIdHD_MUA" />
                    </div>
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-2 col-sm-2">Trọng lượng HĐ</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtTrongLuongHD_MUA" name="txtTrongLuongHD_MUA">
                        <label class="col-form-label col-md-2 col-sm-2">ĐVT</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtDvtHD_MUA" name="txtDvtHD_MUA" />
                    </div>
                    <div class="form-group row" style="margin-bottom:0px">
                        <label class="col-form-label col-md-2 col-sm-2">Trọng lượng ghép</label>
                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="txtTrongLuongGhepHD_MUA" name="txtTrongLuongGhepHD_MUA">
                        <input type="checkbox" style="margin:10px 10px 0px 10px" value="0" id="ChbHoangThanhGhepHd_MUA" name="ChbHoangThanhGhepHd_MUA">
                        <input type="hidden" value="1" hidden name="ChbHoangThanhGhepHd_MUA" id="ChbHoangThanhGhepHd_MUA">
                        <label class="col-form-label">HĐ hoàn thành ghép</label>
                    </div>
                </form>


                @(Html.DevExtreme().DataGrid().ID("DataGrid_Plans")
                                    .DataSource(ds => ds.Mvc()
                                        .Controller("Plans")
                                        .LoadAction("getPlans")
                                        .Key("Systemref")
                                        .LoadParams(new { id = new JS("GetPlansId") })
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns => {

                                        columns.Add().DataField("PlansId").Caption("Plans Id");

                                        columns.Add().DataField("ContracId").Caption("Contrac Id");

                                        columns.Add().DataField("SystemId").Caption("System Id");

                                        columns.Add().DataField("Trongluong").Caption("Trọng lượng");

                                        columns.Add().DataField("Macn").Caption("Mã Cn");

                                        columns.Add().DataField("Systemref").Caption("Systemref");

                                        columns.Add().DataField("Ref").Caption("Ref");

                                        columns.Add().DataField("Sohd").Caption("Số HĐ");

                                        columns.Add().DataField("Trangthai").Caption("Trạng thái");

                                        columns.Add().DataField("MuaBan").Caption("Mua bán");

                                        columns.Add().DataField("Makhach").Caption("Mã khách");

                                        columns.Add().DataField("Ngayky").Caption("Ngày ký");

                                        columns.Add().DataField("Ngaygiao").Caption("Ngày giao");

                                        columns.Add().DataField("Ngayhl").Caption("Ngày hiệu lực");

                                        columns.Add().DataField("Ngaytl").Caption("Ngày tl");

                                        columns.Add().DataField("Nguoitl").Caption("Người tl");

                                        columns.Add().DataField("Nguoilam").Caption("Người làm");

                                        columns.Add().DataField("Ghichu").Caption("Ghi chú");

                                        columns.Add().DataField("Pakd").Caption("PAKD");

                                        columns.Add().DataField("SoPakd").Caption("Số PAKD");

                                        columns.Add().DataField("IsFix").Caption("IsFix");

                                        columns.Add().DataField("Tiente").Caption("Tiền tệ");

                                        columns.Add().DataField("ThanhtoanId").Caption("Thanh toán Id");

                                        columns.Add().DataField("Thanhtoan").Caption("Thanh toán");

                                        columns.Add().DataField("Ngaylam").Caption("Ngày làm");

                                        columns.Add().DataField("IntKy").Caption("Int ký");

                                        columns.Add().DataField("ClientKy").Caption("Client ký");

                                        columns.Add().DataField("Docstatus").Caption("Doc status");

                                        columns.Add().DataField("TrangthaiGhep").Caption("Trạng thái ghép");

                                        columns.Add().DataField("TienUngHd").Caption("Tiền ứng HĐ");

                                        columns.Add().DataField("TienUngTt").Caption("Tiền ứng TT");

                                        columns.Add().DataField("HdcmuonId").Caption("Id HĐ cho mượn");

                                        columns.Add().DataField("SoHdcmuon").Caption("Số HĐ cho mượn");

                                        columns.Add().DataField("DiaDiemGiaoHang").Caption("Địa điểm giao hàng");

                                        columns.Add().DataField("IsNoKhoDoi").Caption("Is nợ khó đòi");

                                        columns.Add().DataField("TypeKd").Caption("Type KD");

                                        columns.Add().DataField("VanChuyen").Caption("Vận chuyển");

                                        columns.Add().DataField("NgayTraPhaitra").Caption("Ngày trả phải trả");

                                        columns.Add().DataField("Tenfull").Caption("Tên full");

                                    })
                                    .ColumnAutoWidth(true)
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .HoverStateEnabled(true)
                                    .HeaderFilter(hearder => hearder.Visible(true))
                                    .AllowColumnResizing(true)
                                    .AllowColumnReordering(true)
                                    .ShowBorders(true)
                                    .Grouping(group => group.AutoExpandAll(true))
                                    .Paging(paging => paging.PageSize(24))
                                )
                <div style="text-align:right">
                    <button type="button" class="btn btn-secondary" onclick="Add_Pairedplans()">Add</button>
                    <button type="button" class="btn btn-secondary" onclick="close_Popup_Plans()" id="btn_EditPairedPlans">Edit</button>
                    <button type="button" class="btn btn-secondary" onclick="close_Popup_Plans()" id="btn_DeletePairedPlans">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*----------------------------------------------------Bootrap popup choose khách hàng-------------------------------------------------------------------------------------------------------------------------------*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_Plans">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @(Html.DevExtreme().DataGrid()
                                    .DataSource(d => d.Mvc().Controller("Plans").LoadAction("GetPlansToAddContract").Key("SystemId"))
                                    .Columns(columns => {
                                        columns.Add().DataField("SystemId").Caption("System Id");
                                        columns.Add().DataField("soPA").Caption("Số PA");
                                        columns.Add().DataField("Trongluong").Caption("Trọng lượng");
                                        columns.Add().DataField("TLCanGhep").Caption("Trọng lượng cần ghép");
                                        columns.Add().DataField("dvt").Caption("Đơn vị tính");
                                    })
                                    .OnSelectionChanged("Selected_Plans")
                                    .HoverStateEnabled(true)
                                    .Paging(p => p.PageSize(10))
                                    .FilterRow(f => f.Visible(true))
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                )
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="close_Popup_Plans()">Selected</button>
            </div>
        </div>
    </div>
</div>
@*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
@*----------------------------------------------------Bootrap popup choose hợp đồng mua bán-------------------------------------------------------------------------------------------------------------------------------*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_HD">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @(Html.DevExtreme().DataGrid()
                                    .DataSource(d => d.Mvc().Controller("Plans").LoadAction("GetHDMB").Key("systemref").LoadParams(new { id = new JS("Return_MuaBan") }))
                                    .ID("dataGrid_hdmb")
                                    .Columns(columns => {
                                    columns.Add().DataField("mahang").Caption("Mã hàng");
                                    columns.Add().DataField("tenhang").Caption("Tên hàng");
                                    columns.Add().DataField("IsCheck").CellTemplate(@<text>@(Html.DevExtreme().CheckBox()
                                                                                                .Value(new JS("data.IsCheck"))
                                                                                            )</text>).Caption("Check Item");
                                    columns.Add().DataField("dvt").Caption("ĐVT");
                                    columns.Add().DataField("vat").Caption("VAT");
                                    columns.Add().DataField("TLGD").Caption("TLGD");
                                    })
                                    .HoverStateEnabled(true)
                                    .Paging(p => p.PageSize(10))
                                    .FilterRow(f => f.Visible(true))
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                )
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="close_Popup_HangHoa()">Selected</button>
            </div>
        </div>
    </div>
</div>
@*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
<script>
    window.onload = function () {
        load_data_hdmb();
        load_disable_button();
    }
    function load_disable_button() {
        var txtSoHD_BAN = document.getElementById("txtSoHD_BAN").value;
        var txtSoHD_MUA = document.getElementById("txtSoHD_MUA").value;
        if (txtSoHD_MUA == "" && txtSoHD_BAN == "") {
            document.getElementById("btn_EditPairedPlans").disabled = false;
            document.getElementById("btn_DeletePairedPlans").disabled = false;
        }
        else if (txtSoHD_BAN != "" || txtSoHD_MUA != "")
        {
            document.getElementById("btn_EditPairedPlans").disabled = true;
            document.getElementById("btn_DeletePairedPlans").disabled = true;
        }

    }
    function Disable_HDBan() {
        document.getElementById("txtSoHD_BAN").disabled  = true;
        document.getElementById("txtIdHD_BAN").disabled  = true;
        document.getElementById("txtTrongLuongHD_BAN").disabled  = true;
        document.getElementById("txtTrongLuongGhepHD_BAN").disabled = true;
        document.getElementById("txtDvtHD_BAN").disabled = true;
    }
    function Disable_HDMua() {
        document.getElementById("txtSoHD_MUA").disabled = true;
        document.getElementById("txtIdHD_MUA").disabled = true;
        document.getElementById("txtTrongLuongHD_MUA").disabled = true;
        document.getElementById("txtTrongLuongGhepHD_MUA").disabled = true;
        document.getElementById("txtDvtHD_MUA").disabled = true;
    }
    function load_data_hdmb() {
        var txtCheckMuaBan = document.getElementById("txtCheckMuaBan").value;
        if (txtCheckMuaBan == "MUA") {
            document.getElementById("txtSoHD_MUA").value = '@ViewBag.Sohd';
            document.getElementById("txtIdHD_MUA").value = '@ViewBag.SystemRef';
            document.getElementById("txtTrongLuongHD_MUA").value = '@ViewBag.TrongLuong';
            document.getElementById("txtTrongLuongGhepHD_MUA").value = '@ViewBag.TrongLuongDuocGhep';
            Disable_HDBan();
            document.getElementById("txtIdHD_MUA").disabled = true;
            document.getElementById("txtTrongLuongHD_MUA").disabled = true;
            document.getElementById("txtDvtHD_MUA").disabled = true;
        }
        else {
            document.getElementById("txtSoHD_BAN").value = '@ViewBag.Sohd';
            document.getElementById("txtIdHD_BAN").value = '@ViewBag.SystemRef';
            document.getElementById("txtTrongLuongHD_BAN").value = '@ViewBag.TrongLuong';
            document.getElementById("txtTrongLuongGhepHD_BAN").value = '@ViewBag.TrongLuongDuocGhep';
            Disable_HDMua();
            document.getElementById("txtIdHD_BAN").disabled = true;
            document.getElementById("txtTrongLuongHD_BAN").disabled = true;
            document.getElementById("txtDvtHD_BAN").disabled = true;
        }
    }
    function GetPlansId() {
        return document.getElementById("PlansId").value;
    }
    $("#SoPa").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#selected_Plans").modal('show');
        }
    });
    $("#txtSoHD_BAN").keyup(function (event) {
        if (event.keyCode === 13) {
            console.log(1);
            $("#selected_HD").modal('show');
        }
    });
    $("#txtSoHD_MUA").keyup(function (event) {
        if (event.keyCode === 13) {
            console.log(0);
            $("#selected_HD").modal('show');
        }
    });
    function Return_MuaBan() {
        var MuaBan = "MUA"
        return MuaBan;
    }
    function Selected_Plans(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        var IdHDMB = document.getElementById("Id_HDMB").value;
        var txtCheckMuaBan = document.getElementById("txtCheckMuaBan").value;
        if (data) {
            $.post('/Plans/Fill_data_plans', { 'SystemId': data.SystemId, 'Id_HDMB': IdHDMB }, function (item) {
                if (item == 1) {
                    $.notify("Phương án này đã có hợp đồng bán. Bạn không thể thêm hợp đồng bán cho PAKD này","error");
                }
                else {
                    document.getElementById("PlansId").value = item.SystemId;
                    document.getElementById("SoPa").value = item.SoPa;
                    document.getElementById("Trongluong").value = item.Trongluong;
                    document.getElementById("TLCanGhep").value = item.TLCanGhep;
                    if (txtCheckMuaBan == "MUA") {
                        document.getElementById("txtDvtHD_MUA").value = item.Dvt;
                    }
                    else {
                        document.getElementById("txtDvtHD_BAN").value = item.Dvt;
                    }
                    $("#DataGrid_Plans").dxDataGrid("refresh");
                }


            })
        }
    }
    function close_Popup_Plans() {
        $("#selected_Plans").modal('hide');
    }
    function Add_Pairedplans() {
        var PlansId = document.getElementById("PlansId").value;
        var txtSoHD_BAN = document.getElementById("txtSoHD_BAN").value;
        var txtSoHD_MUA = document.getElementById("txtSoHD_MUA").value;
        if (txtSoHD_BAN == "" && txtSoHD_MUA == "") {
            $.notify("vui lòng chọn hợp đồng cần ghép", "error");
        } else {
            document.getElementById("Form_PairedPlans").action = '/Plans/Add_PairedPlans/' + PlansId;
            document.getElementById("Form_PairedPlans").submit();
        }
    }
</script>

