@model Hanghoa
@{
    ViewData["Title"] = "createhanghoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
@{
    if (TempData["alertMessage1"] != null)
    {
        <div class="alert alert-warning  alert-dismissable">
            @TempData["alertMessage1"].ToString()
        </div>
    }
}
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" asp-action="createhanghoa" asp-controller="danhmuc" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="contact100-form-title">
                Create hàng hóa
            </span>

            <div class="wrap-input100 validate-input bg1" data-validate="Làm ơn nhập ID hàng hóa">
                <span class="label-input100">ID hàng hóa *</span>
                <input class="input100" asp-for="Idhanghoa" type="text" placeholder="ID hàng">
                <span asp-validation-for="Idhanghoa" class="text-danger"></span>
            </div>

            <div class="wrap-input100 bg1 rs1-wrap-input100 validate-input" data-validate="Làm ơn nhập mã hàng">
                <span class="label-input100">Mã hàng *</span>
                <input class="input100" asp-for="Mahang" placeholder="Tên hàng">
            </div>

            <div class="wrap-input100 bg1 rs1-wrap-input100 validate-input" data-validate="Làm ơn nhập tên hàng">
                <span class="label-input100">Tên hàng</span>
                <input class="input100" asp-for="Tenhang" type="text" placeholder="Tên hàng">
            </div>
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 validate-input">
                <span class="label-input100">Giao dịch  ||  0 - Hết giao dịch, 1 - Đang giao dịch</span>
                <div>
                    <select asp-for="Sudung" class="js-select2">
                        <option value="0">0</option>
                        <option selected value="1">1</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 validate-input">
                <span class="label-input100">Kích hoạt</span>
                <div>
                    <select asp-for="Visible" class="js-select2">
                        <option value="0">0</option>
                        <option selected value="1">1</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
            <div class="wrap-input100 validate-input bg1 validate-input" data-validate="Làm ơn nhập tên hàng VAT">
                <span class="label-input100">Tên hàng VAT </span>
                <input class="input100" asp-for="Tenhangvat" type="text" placeholder="Tên hàng VAT">
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">VAT</span>
                <div>
                    <select asp-for="Vat" class="js-select2">
                        <option value="0">0</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="wrap-input100 bg1 rs1-wrap-input100">
                <span class="label-input100">DVT</span>
                <div>
                    <select asp-for="Dvt" class="js-select2">
                        <option value="KGS">KGS</option>
                        <option value="TAN">TAN</option>
                        <option value="CAI">CAI</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="wrap-input100 input100-select bg1">
                <span class="label-input100">Mã nhóm *</span>
                <div>
                    <select class="js-select2" asp-for="MaNhom">
                        @{
                            foreach (var item in ViewBag._nhomhanghoa)
                            {
                                <option value="@item.Manhom">@item.TenNhom</option>
                            }
                        }
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
            <div class="wrap-input100 bg0 ">
                <span class="label-input100">Tên đầy đủ mặt hàng</span>
                <textarea class="input100" asp-for="Fullname" placeholder="Tên đầy đủ mặt hàng"></textarea>
            </div>
            <div class="wrap-input100 bg0 ">
                <span class="label-input100">Qui cách</span>
                <textarea class="input100" asp-for="Quicach" placeholder="Qui cách"></textarea>
            </div>
            <div class="wrap-input100 bg0 ">
                <span class="label-input100">Bao bì</span>
                <textarea class="input100" asp-for="Baobi" placeholder="Bao bì"></textarea>
            </div>


            <div class="wrap-input100 bg0 ">
                <span class="label-input100">Kiểm định</span>
                <textarea class="input100" asp-for="Kiemdinh" placeholder="Kiểm định"></textarea>
            </div>
            <div class="wrap-input100 input100-select bg1">
                <span class="label-input100">Nhóm hàng *</span>
                <div>
                    <select asp-for="OrderNhom" class="js-select2">
                        @{
                            foreach (var odn in ViewBag._nhomhang)
                            {
                                <option value="@odn.Id">@odn.TenNhom</option>
                            }
                        }
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" asp-action="createhanghoa" asp-controller="danhmuc">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

