@{
    ViewData["Title"] = "chitietkhachhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
@{
    if (TempData["alertMessage1"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
@model IEnumerable<KhachHang>
<div class="right_col" role="main" style="height: 500px">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thông tin hàng hóa</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hàng hóa</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Mã khách</th>
                                                <th>Tên tắt</th>
                                                <th>Tên khách</th>
                                                <th class="last">Action</th>
                                                <th>Địa chỉ</th>
                                                <th>SĐT</th>
                                                <th>email</th>
                                                <th>MST/CMND</th>
                                                <th>FAX</th>
                                                <th>Giao dịch</th>
                                                <th>Tỉnh</th>
                                                <th>Quốc gia</th>
                                                <th>Loại khách</th>
                                                <th>Tài khoản</th>
                                                <th>Ngân hàng</th>
                                                <th>Giáy phép</th>
                                                <th>Ngày cấp</th>
                                                <th>Vận chuyển</th>
                                                <th>Bốc xếp</th>
                                                <th>Diện tích (m²)</th>
                                                <th>Sản lượng</th>
                                                <th>Giao dịch mua</th>
                                                <th>Giao dịch bán</th>
                                                <th>Ứng tiền mua</th>
                                                <th>Ứng tiền bán</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model)
                                                {

                                                <tr>
                                                    <td>@item.MaKhach</td>
                                                    <td><a asp-action="detailKH" asp-controller="danhmuc" asp-route-id="@item.Idkhach">@item.TenKhach</a></td>
                                                    <td>@item.TenFull</td>
                                                    @{
                                                        if (item.GiaoDich != 1)
                                                        {
                                                            <td><a asp-action="updateKH" asp-controller="danhmuc" asp-route-id="@item.Idkhach">Edit </a>/
                                                            <a asp-action="deleteKH" asp-controller="danhmuc" asp-route-id="@item.Idkhach">Delete</a></td>
                                                        }
                                                        else
                                                        {
                                                            <td>Edit / Delete</td>
                                                        }
                                                    }

                                                    <td>@item.DiaChi</td>
                                                    <td>@item.DienThoai</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.MaSoThue</td>
                                                    <td>@item.Fax</td>
                                                    <td>@item.GiaoDich</td>
                                                    <td>@item.MaKhuvuc</td>
                                                    <td>@item.TenQg</td>
                                                    <td>@item.LoaiKhach</td>
                                                    <td>@item.TaiKhoan</td>
                                                    <td>@item.NganHang</td>
                                                    <td>@item.GiayPhep</td>
                                                    <td>@item.NgayCap</td>
                                                    <td>@item.Vanchuyen</td>
                                                    <td>@item.Bocxep</td>
                                                    <td>@item.Dientich</td>
                                                    <td>@item.Sanluong</td>
                                                    @{
                                                        if (item.GiaoDichMua == true)
                                                        {
                                                            <td>Có</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Không</td>
                                                        }

                                                    }
                                                    @{
                                                        if (item.GiaoDichBan == true)
                                                        {
                                                            <td>Có</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Không</td>
                                                        }

                                                    }
                                                    @{
                                                        if (item.ThanhToanMua == true)
                                                        {
                                                            <td>Có</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Không</td>
                                                        }

                                                    }
                                                    @{
                                                        if (item.ThanhToanBan == true)
                                                        {
                                                            <td>Có</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Không</td>
                                                        }

                                                    }

                                                </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-bars"></i>Chi tiết hàng hóa</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Settings 1</a>
                                            <a class="dropdown-item" href="#">Settings 2</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Định mức</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Người đại diện</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <table class="table table-striped table-bordered" style="width:100%" id="test">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="border-color:black">Nhóm hàng</th>
                                                    <th scope="col" style="border-color:black">ĐM HH chưa giao(KGS)</th>
                                                    <th scope="col" style="border-color:black">Đơn vị</th>
                                                    <th scope="col" style="border-color:black">Người GD</th>
                                                    <th scope="col" style="border-color:black">QH với DN</th>
                                                    <th scope="col" style="border-color:black">Ghi chú</th>
                                                    <th scope="col" style="border-color:black">Người tạo</th>
                                                    <th scope="col" style="border-color:black">Ngày tạo</th>
                                                    <th scope="col" style="border-color:black">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    foreach (var item in ViewBag.customerNorm)
                                                    {
                                                        <tr>
                                                            <td style="border-color:black">@item.Nhomhang</td>
                                                            <td style="border-color:black">@item.ValueNorm.ToString("N")</td>
                                                            <td style="border-color:black">@item.Macn</td>
                                                            <td style="border-color:black">@item.NguoiGd</td>
                                                            <td style="border-color:black">@item.ChucvuNguoigd</td>
                                                            <td style="border-color:black">@item.Ghichu</td>
                                                            <td style="border-color:black">@item.UserCreate</td>
                                                            <td style="border-color:black">@item.DateCreate</td>
                                                            <td style="border-color:black"><a asp-action="updateCN" asp-controller="danhmuc" asp-route-id="@item.Id">Edit </a>/ 
                                                            <a asp-action="deleteCN" asp-controller="danhmuc" asp-route-id="@item.Id">Delete</a></td>
                                                        </tr>
                                                        
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <div class="form-row text-center">
                                            <div class="col-12">
                                                <a asp-action="themdinhmuc" asp-controller="danhmuc" asp-route-id="@ViewBag.idKH"><button type="submit" class="btn btn-primary" >Thêm định mức</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th border="1" style="border-color:black">Người đại diện</th>
                                                    <th border="1" style="border-color:black">Chức vụ</th>
                                                    <th border="1" style="border-color:black">Ủy quyền</th>
                                                    <th border="1" style="border-color:black">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    foreach (var a in ViewBag.signer)
                                                    {
                                                        <tr>
                                                            <td border="1" style="border-color:black">@a.Nguoiky</td>
                                                            <td border="1" style="border-color:black">@a.Chucvu</td>
                                                            <td border="1" style="border-color:black">@a.Uyquyen</td>
                                                            <td border="1" style="border-color:black"><a asp-action="updateSigner" asp-controller="danhmuc" asp-route-id="@a.Id">Edit</a></td>
                                                        </tr>
                                                    }
                                                    
                                                }
                                            </tbody>
                                        </table>
                                        <div class="form-row text-center">
                                            <div class="col-12">
                                                <a asp-action="themnguoidaidien" asp-controller="danhmuc" asp-route-id="@ViewBag.idKH"><button type="submit" class="btn btn-primary" >Thêm người đại diện</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- /page content -->
<!-- footer content -->