
@{
    ViewData["Title"] = "khachhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body" style="background-color: #FFF8DC">
                <center class="m-t-30">
                    <label for="khuvuc">Việt nam</label>
                    <div>
                        <select onchange="location = this.value">
                            @{
                                <option >-- Chọn một khu vực --</option>
                                <option value="">     </option>
                                foreach (var item in ViewBag.khuvuc)
                                {
                                    if (item.MaKhuvuc == ViewBag.param1)
                                    { 
                                    <option selected value="@item.MaKhuvuc">@item.TenKhuvuc</option>
                                    }
                                    else
                                    {
                                        <option value="@item.MaKhuvuc">@item.TenKhuvuc</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <label for="quocgia">Quốc tế</label>
                    <div>
                        <select name="cars" id="cars" onchange="location = this.value">
                            @{

                                <option >-- Chọn một quốc gia --</option>
                                <option value="">     </option>
                                foreach (var item in ViewBag.quocgia)
                                {
                                    if (item.Name == ViewBag.param1)
                                    { 

                                    <option selected value="@item.Name">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </center>
                <div class="container-contact100-form-btn">
                    <a asp-action="themkhachhang" asp-controller="danhmuc">
                        <button class="contact100-form-btn">
                            <span>
                                Thêm khách hàng
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tab panes -->
            <div class="card-body">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>ID khách hàng</th>
                            <th>Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Thông tin</th> 
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in ViewBag.item)
                            {
                                <tr>
                                    <td>@item.Idkhach</td>
                                    <td>@item.MaKhach</td>
                                    <td>@item.TenKhach</td>
                                    <td>
                                        <a asp-action="detailKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                            <i class="fa fa-info" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    @{
                                        if(item.GiaoDich != 1)
                                        { 
                                            <td>
                                                <a asp-action="updateKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        }
                                    }
                                    @{
                                        if (item.GiaoDich != 1)
                                        {
                                            <td>
                                                <a asp-action="deleteKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        }
                                    }

                                </tr>
                            }

                            foreach (var item in ViewBag.item1)
                            {
                    <tr>
                        <td>@item.Idkhach</td>
                        <td>@item.MaKhach</td>
                        <td>@item.TenKhach</td>
                        <td>
                            <a asp-action="detailKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                            @{
                                if (item.GiaoDich != 1)
                                {
                                <td>
                                    <a asp-action="updateKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            }
                            </td>
                            @{
                                if (item.GiaoDich != 1)
                                {
                                    <td>
                                        <a asp-action="deleteKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                }
                            }
                        </tr>
                            }
                            foreach (var item in ViewBag.nulltinhthanh)
                            {
                    <tr>
                        <td>@item.Idkhach</td>
                        <td>@item.MaKhach</td>
                        <td>@item.TenKhach</td>
                        <td>
                            <a asp-action="detailKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                            @{
                                if (item.GiaoDich != 1)
                                {
                                <td>
                                    <a asp-action="updateKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            }
                            </td>
                            @{
                                if (item.GiaoDich != 1)
                                {
                                    <td>
                                        <a asp-action="deleteKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                }
                            }
                        </tr>
                            }
                            foreach (var item in ViewBag.nullquocgia)
                            {
                    <tr>
                        <td>@item.Idkhach</td>
                        <td>@item.MaKhach</td>
                        <td>@item.TenKhach</td>
                        <td>
                            <a asp-action="detailKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                            @{
                                if (item.GiaoDich != 1)
                                {
                                <td>
                                    <a asp-action="updateKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            }
                            </td>
                            @{
                                if (item.GiaoDich != 1)
                                {
                                    <td>
                                        <a asp-action="deleteKH" asp-route-id="@item.Idkhach" asp-controller="danhmuc">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                }
                            }
                        </tr>
                            }
                        }

                    </tbody>
                </table>  

            </div>
        </div>
    </div>
    <!-- Column -->
</div>




