
@{
    ViewData["Title"] = "khachhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thông tin hàng hóa</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">
            <div class="col-md-3 col-sm-3  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nhóm hàng</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-size: 20px">Quốc tế</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                            <li>
                                <a class="dropdown-item" href="#"> Dropdown item 2 &raquo </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="">Submenu item 1</a></li>
                                    <li><a class="dropdown-item" href="">Submenu item 2</a></li>
                                    <li>
                                        <a class="dropdown-item" href="">Submenu item 3 &raquo </a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" href="">Multi level 1</a></li>
                                            <li><a class="dropdown-item" href="">Multi level 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="">Submenu item 4</a></li>
                                    <li><a class="dropdown-item" href="">Submenu item 5</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                            <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-size: 20px">Quốc tế</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                            <li>
                                <a class="dropdown-item" href="#"> Dropdown item 2 &raquo </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="">Submenu item 1</a></li>
                                    <li><a class="dropdown-item" href="">Submenu item 2</a></li>
                                    <li>
                                        <a class="dropdown-item" href="">Submenu item 3 &raquo </a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" href="">Multi level 1</a></li>
                                            <li><a class="dropdown-item" href="">Multi level 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="">Submenu item 4</a></li>
                                    <li><a class="dropdown-item" href="">Submenu item 5</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                            <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
                        </ul>
                    </li>
                </div>
                </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Chi tiết<small>Hàng hóa</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" class="validate-form" role="form">
                            <div>
                                <label>ID khách hàng</label>
                                <input type="text" class="form-control"  placeholder="ID khách hàng" data-validate="Làm ơn nhập ID hàng hóa">
                                <span  class="input-validation-error"></span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Mã khách</label>
                                    <input type="text" class="form-control"  placeholder="Mã khách">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Tên tắt</label>
                                    <input type="text" class="form-control" placeholder="Tên tắt">
                                    <span  class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">MST/CMND</label>
                                    <input type="text" class="form-control"  placeholder="MST / CMND">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <label for="inputEmail4">Tên khách</label>
                                    <input type="text" class="form-control"placeholder="Tên khách">
                                    <span  class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Điện thoại</label>
                                    <input type="text" class="form-control" placeholder="Tên tắt">
                                    <span  class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <label for="inputEmail4">Địa chỉ</label>
                                    <input type="text" class="form-control" placeholder="Địa chỉ">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">FAX</label>
                                    <input type="text" class="form-control"  placeholder="FAX">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="inputState">Loại khách  || 0-MB lâu dài, 1-MB theo từng PA, 2-MB theo ủy thác, 3-Khách lập bảng kê</label>
                                <label for="inputZip" style="margin-left:80px">Email</label>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <select  class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3" style="margin-left:440px">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Tài khoản</label>
                                    <input type="text" class="form-control" placeholder="Tài khoản">
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="inputPassword4">Ngân hàng</label>
                                    <input type="text" class="form-control"  placeholder="Ngân hàng">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Giấy phép</label>
                                    <input type="text" class="form-control" placeholder="Giấy phép">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Ngày cấp</label>
                                    <input type="date" class="form-control" placeholder="ngày cấp">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Tỉnh / TP</label>
                                    <select class="form-control">
                                      @*  @{
                                            foreach (var item in ViewBag.khuvuc)
                                            {
                                                <option value="@item.MaKhuvuc">@item.TenKhuvuc</option>
                                            }
                                        }*@
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label>Ghi chú</label>
                                <textarea class="form-control" ></textarea>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Quốc gia</label>
                                    <select class="form-control">
                                       @* @{
                                            foreach (var listqg in ViewBag.list_qg)
                                            {
                                                <option value="@listqg.Name">@listqg.Name</option>
                                            }
                                        }*@
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Tòa kinh tế</label>
                                    <input type="text" class="form-control"  placeholder="Tòa kinh tế">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Bốc xếp</label>
                                    <input type="text" class="form-control"placeholder="Bốc xếp">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Vận chuyển</label>
                                    <input type="text" class="form-control" placeholder="Vận chuyển">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Diện tích(m2)</label>
                                    <input type="text" class="form-control" placeholder="Diện tích">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Sản lượng(kg)</label>
                                    <input type="text" class="form-control" placeholder="Sản lượng">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" id="isActive"  type="checkbox" value="true">
                                    <input  type="hidden" value="false" />
                                    <label class="form-check-label">
                                        Kiểm tra định mức HH chưa giao
                                    </label>

                                </div>
                            </div>
                            <div class="form-row">
                                <label>Giao dịch || 0-Chờ duyệt, 1- Đang giao dịch, 2-Ngừng giao dịch</label>
                                <label style="margin-left:100px">Giao dịch</label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">

                                    <select class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="custom-control custom-checkbox" style="margin-left:300px">
                                    <input type="checkbox" id="customRadio1"  class="custom-control-input" value="true">
                                    <input type="hidden"  value="false">
                                    <label class="custom-control-label" for="customRadio1">Thanh toán mua</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="customRadio2"  class="custom-control-input" value="true">
                                    <input type="hidden"  value="false">
                                    <label class="custom-control-label" for="customRadio2">Thanh toán bán</label>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div id="graph_bar" style="width:100%; height:280px;"></div>
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Định mức</a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Người đại diện</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                        <!-- start recent activity -->
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nhóm hàng</th>
                                    <th>ĐM HH chưa giao(KSG)</th>
                                    <th>Đơn vị</th>
                                    <th>Người GD</th>
                                    <th>QH với chủ DN</th>
                                    <th>Ghi chú</th>
                                    <th>Người tạo</th>
                                    <th>Ngày tạo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                        <!-- start user projects -->
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Người đại diện</th>
                                    <th>Chức vụ</th>
                                    <th>Ủy quyền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end user projects -->

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <p>
                            xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                            photo booth letterpress, commodo enim craft beer mlkshk
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</div>
<!-- /page content -->
