
@{
    ViewData["Title"] = "hanghoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Nhom_hang_hoa>



@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
@{
    if (TempData["alertMessage1"] != null)
    {
        <div class="alert alert-warning  alert-dismissable">
            @TempData["alertMessage1"].ToString()
        </div>
    }
}
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body" style="background-color: #FFF8DC">
                <center class="m-t-30">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Mã nhóm</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Nhom_hang_hoa nhh in Model)
                                {
                                    <tr>
                                        <td><a class="examp1" style="color:black" asp-action="hanghoa" asp-route-id="@nhh.Manhom" asp-controller="danhmuc"><ins>@nhh.Manhom</ins></a></td>
                                        <td><a asp-action="delete" style="color:black" asp-route-id="@nhh.Manhom" asp-controller="danhmuc"><i class="fa fa-trash"></a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="container-contact100-form-btn">
                        <a asp-action="themnhomhang" asp-controller="danhmuc">
                            <button class="contact100-form-btn">
                                <span>
                                    Thêm nhóm hàng
                                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                </span>
                            </button>
                        </a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tab panes -->
            <div class="card-body">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>ID hàng hóa</th>
                            <th>Mã hàng</th>
                            <th>Tên hàng</th>
                            <th>Thông tin</th>
                            <th>Xóa</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
                <div class="container-contact100-form-btn">
                    <a asp-action="createhanghoa" asp-controller="danhmuc">
                        <button class="contact100-form-btn">
                            <span>
                                Thêm hàng hóa
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

