@model KhachHang
@{
    ViewData["Title"] = "themkhachhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (TempData["alertMessage"] != null)
    {
        <div style="color:red">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
<style>
    .input-validation-error {
        border-color: red;
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12" style="height:auto">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm<small>Hàng hóa</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    @{
                        if (TempData["alertMessage"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage"].ToString()
                            </div>
                        }
                    }
                    @{
                        if (TempData["alertMessage1"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage1"].ToString()
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post" class="validate-form" role="form">
                        <div>
                            <label>ID khách hàng</label>
                            <input type="text" class="form-control" asp-for="Idkhach" placeholder="ID khách hàng" >
                            <span asp-validation-for="Idkhach" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Mã khách</label>
                                <input type="text" class="form-control" asp-for="MaKhach" placeholder="Mã khách">
                                <span asp-validation-for="MaKhach" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Tên tắt</label>
                                <input type="text" class="form-control" asp-for="TenKhach" placeholder="Tên tắt">
                                <span asp-validation-for="TenKhach" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">MST/CMND</label>
                                <input type="text" class="form-control" asp-for="MaSoThue" placeholder="MST / CMND">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="inputEmail4">Tên khách</label>
                                <input type="text" class="form-control" asp-for="TenFull" placeholder="Tên khách">
                                <span asp-validation-for="TenFull" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">Điện thoại</label>
                                <input type="text" class="form-control" asp-for="DienThoai" placeholder="Tên tắt">
                                <span asp-validation-for="DienThoai" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="inputEmail4">Địa chỉ</label>
                                <input type="text" class="form-control" asp-for="DiaChi" placeholder="Địa chỉ">
                                <span asp-validation-for="DiaChi    " class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">FAX</label>
                                <input type="text" class="form-control" asp-for="Fax" placeholder="FAX">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="inputState">Loại khách  || 0-MB lâu dài, 1-MB theo từng PA, 2-MB theo ủy thác, 3-Khách lập bảng kê</label>
                            <label for="inputZip" style="margin-left:270px">Email</label>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <select asp-for="LoaiKhach" class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3" style="margin-left:599px">
                                <input type="text" class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Tài khoản</label>
                                <input type="text" class="form-control" asp-for="TaiKhoan" placeholder="Tài khoản">
                            </div>
                            <div class="form-group col-md-9">
                                <label for="inputPassword4">Ngân hàng</label>
                                <input type="text" class="form-control" asp-for="NganHang" placeholder="Ngân hàng">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Giấy phép</label>
                                <input type="text" class="form-control" asp-for="GiayPhep" placeholder="Giấy phép">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Ngày cấp</label>
                                <input type="date" class="form-control" asp-for="NgayCap" placeholder="ngày cấp">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">Tỉnh / TP</label>
                                <select asp-for="MaKhuvuc" class="form-control">
                                    @{
                                        foreach (var item in ViewBag.khuvuc)
                                        {
                                            <option value="@item.MaKhuvuc">@item.TenKhuvuc</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div>
                            <label>Ghi chú</label>
                            <textarea class="form-control" asp-for="GhiChu"></textarea>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Quốc gia</label>
                                <select asp-for="TenQg" class="form-control">
                                    @{
                                        foreach (var listqg in ViewBag.list_qg)
                                        {
                                            <option value="@listqg.Name">@listqg.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Tòa kinh tế</label>
                                <input type="text" class="form-control" asp-for="ToaKinhTe" placeholder="Tòa kinh tế">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Bốc xếp</label>
                                <input type="text" class="form-control" asp-for="Bocxep" placeholder="Bốc xếp">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Vận chuyển</label>
                                <input type="text" class="form-control" asp-for="Vanchuyen" placeholder="Vận chuyển">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Diện tích(m2)</label>
                                <input type="text" class="form-control" asp-for="Dientich" placeholder="Diện tích">
                                <span asp-validation-for="Dientich" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Sản lượng(kg)</label>
                                <input type="text" class="form-control" asp-for="Sanluong" placeholder="Sản lượng">
                                <span asp-validation-for="Sanluong" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" id="isActive" name="@Html.NameFor(m => m.CheckItem)" type="checkbox" value="true">
                                <input name="@Html.NameFor(m => m.CheckItem)" type="hidden" value="false" />
                                <label class="form-check-label">
                                    Kiểm tra định mức HH chưa giao
                                </label>

                            </div>
                        </div>
                        <div class="form-row">
                            <label>Giao dịch || 0-Chờ duyệt, 1- Đang giao dịch, 2-Ngừng giao dịch</label>
                            <label style="margin-left:330px">Giao dịch</label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">

                                <select asp-for="GiaoDich" class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="custom-control custom-checkbox" style="margin-left:450px">
                                <input type="checkbox" id="customRadio1" name="@Html.NameFor(m => m.GiaoDichMua)" class="custom-control-input" value="true">
                                <input type="hidden" name="@Html.NameFor(m => m.GiaoDichMua)" value="false">
                                <label class="custom-control-label" for="customRadio1">Thanh toán mua</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="customRadio2" name="@Html.NameFor(m => m.GiaoDichBan)" class="custom-control-input" value="true">
                                <input type="hidden" name="@Html.NameFor(m => m.GiaoDichBan)" value="false">
                                <label class="custom-control-label" for="customRadio2">Thanh toán bán</label>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-left:618px">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.ThanhToanMua)" id="exampleRadios1" value="true">
                                <label class="form-check-label" for="exampleRadios1">
                                    Ứng tiền
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="margin-left:40px">
                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.ThanhToanBan)" id="exampleRadios2" value="true">
                                <label class="form-check-label" for="exampleRadios2">
                                    Ứng tiền
                                </label>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-left:618px">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="@Html.NameFor(m => m.ThanhToanMua)" id="exampleRadios1" value="false">
                                <label class="form-check-label" for="exampleRadios1">
                                    Không ứng tiền
                                </label>
                            </div>
                            <div class="form-check form-check-inline" style="margin-left:2px">
                                <input class="form-check-input " type="radio" name="@Html.NameFor(m => m.ThanhToanBan)" id="exampleRadios2" value="false">
                                <label class="form-check-label" for="exampleRadios2">
                                    Không ứng tiền
                                </label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" asp-action="themkhachhang" asp-controller="danhmuc" class="btn btn-primary btn-block" style="margin-top: 30px">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>




