@model pmkd.Models.CustomerNorm
@{
    ViewData["Title"] = "detailKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}

    <div class="wrap-contact100" style="width:100%">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Mã đơn vị</label>
                    <select asp-for="Macn" class="form-control">
                    @{ 
                        foreach (var a in ViewBag.branch)
                        {
                            <option value="@a.Id">@a.Id</option>
                        }
                    }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Người giao dịch</label>
                    <input type="text" class="form-control" asp-for="NguoiGd" placeholder="Người giao dịch">
                    <span asp-validation-for="NguoiGd" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Quan hệ với chủ DN</label>
                    <input type="text" class="form-control" asp-for="ChucvuNguoigd" placeholder="Quan hệ với chủ doanh nghiệp">
                </div>
                <div class="form-group col-md-3">
                    <label>Nhóm hàng</label>
                    <select asp-for="Nhomhang" class="form-control">
                        @{
                            foreach (var listqg in ViewBag.nhomhang)
                            {
                                <option value="@listqg.Manhom">@listqg.Manhom</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Định mức HH chưa giao</label>
                    <input type="number" class="form-control" asp-for="ValueNorm" placeholder="Định mức HH chưa giao">
                </div>
            </div>
            <div>
                <label>Ghi chú</label>
                <textarea class="form-control" asp-for="Ghichu" placeholder="Ghi chú"></textarea>
            </div>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" asp-action="themdinhmuc" asp-controller="danhmuc" asp-route-id="@ViewBag.id">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
</div>




