@using System.Linq;
@model Data.Models.Trading_system.Hdmb
@{
    ViewData["Title"] = "Hợp đồng mua bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-box-hdmb {
        height: 28px;
        position: relative;
        min-height: 1px;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        font-size: small;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        @{
            if (TempData["alertMessage"] != null)
            {
                <div style="color:red;font-size:30px">
                    @TempData["alertMessage"].ToString()
                </div>
            }
        }
        <div class="clearfix"></div>
        <div class="row" id="row">
            <div class="col-md-12 col-sm-12" style="height:auto">
                <div class="col-md-3 col-sm-3" style="height:auto" id="leftdiv">

                    @{
                        DateTime now = DateTime.Now;
                        var startDate = new DateTime(now.Year, now.Month, 1);
                        var endDate = startDate.AddMonths(1).AddDays(-1);
                        var filterValue = new object[] { new object[] { "Ngaylam", FilterBuilderFieldFilterOperations.Between, new object[] { startDate, endDate } } };
                    }
                    @(Html.DevExtreme().SelectBox()
                                    .DataSource(new JS("LOAIHD"))
                                    .DisplayExpr("name")
                                    .ValueExpr("id")
                                    .Value("ALL")
                                    .OnValueChanged(@<text>
                                        function(data) {
                                            var dataGrid = $("#DataGrid_HDMB").dxDataGrid("instance");
                                            if (data.value == "ALL")
                                                dataGrid.clearFilter();
                                            else
                                                dataGrid.filter(["MuaBan", "=", data.value]);
                                        }
                                    </text>)
                                )
                    @(Html.DevExtreme().DataGrid<Data.Models.Trading_system.Hdmb>().ID("DataGrid_HDMB")
                                    .DataSource(ds => ds.Mvc()
                                        .Controller("Hopdong")
                                        .LoadAction("GetHopdong")
                                        .Key("Systemref")
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns => {

                                        columns.AddFor(m => m.Systemref).Caption("Systemref");

                                        columns.AddFor(m => m.Sohd).Caption("Số HĐ").Width(120);

                                        columns.AddFor(m => m.Trangthai).Caption("Tt");

                                        columns.AddFor(m => m.Ngaylam).Visible(false);

                                        columns.AddFor(m => m.MuaBan).Visible(false);

                                    })
                                    .FilterPanel(e => e.Visible(true))
                                    .FilterValue(filterValue)
                                    .FilterBuilderPopup(p =>
                                        p.Position(pos =>
                                            pos.At(HorizontalAlignment.Center, VerticalAlignment.Top)
                                                .My(HorizontalAlignment.Center, VerticalAlignment.Top)
                                                .Offset(0, 10)
                                        )
                                    )
                                    .ColumnAutoWidth(true)
                                    .OnSelectionChanged("Hdmb_Selection")
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .HoverStateEnabled(true)
                                    .FilterRow(filter => filter.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .HeaderFilter(hearder => hearder.Visible(true))
                                    .AllowColumnResizing(true)
                                    .AllowColumnReordering(true)
                                    .ShowBorders(true)
                                    .Grouping(group => group.AutoExpandAll(true))
                                    .Paging(paging => paging.PageSize(15))
                                )


                </div>
                @*----------------------------------------------------Bootrap popup choose khách hàng-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_KH">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @(Html.DevExtreme().DataGrid()
                                                        .DataSource(d => d.Mvc().Controller("Hopdong").LoadAction("GetKH").Key("MaKhach"))
                                                        .Columns(columns => {
                                                            columns.Add().DataField("MaKhach").Caption("Mã khách");
                                                            columns.Add().DataField("TenKhach").Caption("Tên khách");
                                                            columns.Add().DataField("checkitem").CellTemplate(@<text>@(Html.DevExtreme().CheckBox()
                                                                                                                    .Value(new JS("data.checkitem"))
                                                                                                                )</text>).Caption("Check Item");
                                                            columns.Add().DataField("ValueNorm").Caption("Value norm");
                                                            columns.Add().DataField("Vanchuyen").Caption("Vận chuyển");
                                                            columns.Add().DataField("MaHd").Caption("Mã HD");
                                                        })
                                                        .OnSelectionChanged("Selected_Change_KH")
                                                        .HoverStateEnabled(true)
                                                        .Paging(p => p.PageSize(10))
                                                        .FilterRow(f => f.Visible(true))
                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                    )
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="close_Popup_KH()">Selected</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup choose Int ký-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_IntKy">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @(Html.DevExtreme().DataGrid()
                                                        .DataSource(d => d.Mvc().Controller("Hopdong").LoadAction("getIntKy").Key("Makhach"))
                                                        .Columns(columns => {
                                                            columns.Add().DataField("Makhach").Caption("Mã người kí");
                                                            columns.Add().DataField("Nguoiky").Caption("Tên người kí");
                                                        })
                                                        .OnSelectionChanged("Selected_Change_IntKy")
                                                        .HoverStateEnabled(true)
                                                        .Paging(p => p.PageSize(10))
                                                        .FilterRow(f => f.Visible(true))
                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                    )
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="close_Popup_IntKy()">Selected</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup choose client ký-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_ClientKy">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @(Html.DevExtreme().DataGrid()
                            .ID("DataGrid_ClientKy")
                                                        .DataSource(d => d.Mvc().Controller("Hopdong").LoadAction("getClientKy").Key("Makhach").LoadParams(new { id = new JS("ReturnMaKhach")}))
                                                        .Columns(columns => {
                                                            columns.Add().DataField("Makhach").Caption("Mã người kí");
                                                            columns.Add().DataField("Nguoiky").Caption("Tên người kí");
                                                        })
                                                        .OnSelectionChanged("Selected_Change_ClientKy")
                                                        .HoverStateEnabled(true)
                                                        .Paging(p => p.PageSize(10))
                                                        .FilterRow(f => f.Visible(true))
                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                    )
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="close_Popup_ClientKy()">Selected</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup choose THANH TOÁN-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_TT">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @(Html.DevExtreme().DataGrid()
                            .ID("DataGrid_TT")
                                                        .DataSource(d => d.Mvc().Controller("Hopdong").LoadAction("getThanhToan").Key("Matt").LoadParams(new { id = new JS("Param_DatagridTT")}))
                                                        .Columns(columns => {
                                                            columns.Add().DataField("Matt").Caption("Mã thanh toán");
                                                            columns.Add().DataField("TenTt").Caption("Tên thanh toán");
                                                            columns.Add().DataField("Mucung").Caption("Mức ứng");
                                                            columns.Add().DataField("ReportName").Caption("Report Name");
                                                            columns.Add().DataField("Id").Caption("Id");
                                                        })
                                                        .OnSelectionChanged("Selected_Change_TT")
                                                        .HoverStateEnabled(true)
                                                        .Paging(p => p.PageSize(10))
                                                        .FilterRow(f => f.Visible(true))
                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                    )
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="close_Popup_TT()">Selected</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup choose Hợp đồng cho mượn-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_HDCmuon">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @(Html.DevExtreme().DataGrid()
                            .ID("DataGrid_HDCmuon")
                                                        .DataSource(d => d.Mvc().Controller("Hopdong").LoadAction("getHDCmuon").Key("Systemref"))
                                                        .Columns(columns => {
                                                            columns.Add().DataField("Systemref").Caption("System Ref");
                                                            columns.Add().DataField("Ref").Caption("Ref");
                                                            columns.Add().DataField("Sohd").Caption("Số HĐ");
                                                            columns.Add().DataField("Makhach").Caption("Mã khách");
                                                            columns.Add().DataField("Ngayky").Caption("Ngày ký");
                                                            columns.Add().DataField("Ngaygiao").Caption("Ngày giao");
                                                            columns.Add().DataField("Ghichu").Caption("Ghi chú");
                                                        })
                                                        .OnSelectionChanged("Selected_Change_HDCmuon")
                                                        .HoverStateEnabled(true)
                                                        .Paging(p => p.PageSize(10))
                                                        .FilterRow(f => f.Visible(true))
                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                    )
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="close_Popup_HDCmuon()">Selected</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup save chi tiết hợp đồng outright-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="Form_ThemCTHD_OutRight">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thêm chi tiết hợp đồng OutRight</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="Form_CTHD_OutRight" method="post">
                                <div class="col-md-12 col-sm-12" id="leftdiv">
                                    <div class="form-group row">
                                        <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="SystemId_CTHD_OutRight_hidden" name="SystemId_CTHD_OutRight_hidden" hidden>
                                        <input type="text" class="form-control col-md-3 col-sm-3 text-box-hdmb" id="idRow_CTHD_OutRight" disabled>
                                        <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="SystemId_CTHD_OutRight" disabled>
                                        <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Ref_CTHD_OutRight" disabled>
                                        <input type="text" class="form-control col-md-5 col-sm-5 text-box-hdmb" id="SoHD_CTHD_OutRight" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Mã hàng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="MaHang_CTHD_OutRight" name="MaHang_CTHD_OutRight">
                                        <input type="text" class="form-control col-md-6 col-sm-6 text-box-hdmb" id="TenHang_CTHD_OutRight">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">ĐVT theo HĐ</label>
                                        <select class="form-select form-control col-md-4 col-sm-4 text-box-hdmb" id="DVT_CTHD_OutRight" name="DVT_CTHD_OutRight" aria-label="Default select example">
                                            <option value="" selected></option>
                                            <option value="KGS">KGS</option>
                                            <option value="MTS">MTS</option>
                                            <option value="LBS">LBS</option>
                                        </select>
                                        <label class="col-form-label col-md-2 col-sm-2">Thuế VAT</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="VAT_CTHD_OutRight" name="VAT_CTHD_OutRight" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Số lượng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="SoLuong_CTHD_OutRight" name="SoLuong_CTHD_OutRight">
                                        <label class="col-form-label col-md-2 col-sm-2">Trọng lượng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="TrongLuong_CTHD_OutRight" name="TrongLuong_CTHD_OutRight">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2" style="font-size:small">Giá OutRight theo HĐ</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="OutRight_TheoHD_CTHD_OutRight" name="OutRight_TheoHD_CTHD_OutRight">
                                        <label class="col-form-label col-md-2 col-sm-2">Giá OutRight</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="OutRight_CTHD_OutRight" name="OutRight_CTHD_OutRight">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Giá thị trường</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="GiaThiTruong_CTHD_OutRight" name="GiaThiTruong_CTHD_OutRight">
                                        <label class="col-form-label col-md-2 col-sm-2">Mức thưởng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="MucThuong_CTHD_OutRight" name="MucThuong_CTHD_OutRight">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="Submit_form_CTHDOutRight()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup save chi tiết hợp đồng-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="Form_ThemCTHD_TruLui">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thêm chi tiết hợp đồng Fix giá</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="Form_CTHD" method="post">
                                <div class="col-md-12 col-sm-12" id="leftdiv">
                                    <div class="form-group row">
                                        <input type="text" class="form-control col-md-3 col-sm-3 text-box-hdmb" id="SystemId_CTHD_hidden" name="SystemId_CTHD_hidden" hidden>
                                        <input type="text" class="form-control col-md-3 col-sm-3 text-box-hdmb" id="idRow_CTHD" disabled>
                                        <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="SystemId_CTHD" disabled>
                                        <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Ref_CTHD" disabled>
                                        <input type="text" class="form-control col-md-5 col-sm-5 text-box-hdmb" id="SoHD_CTHD" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Mã hàng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="MaHang_CTHD" name="MaHang_CTHD">
                                        <input type="text" class="form-control col-md-6 col-sm-6 text-box-hdmb" id="TenHang_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">ĐVT theo HĐ</label>
                                        <select class="form-select form-control col-md-4 col-sm-4 text-box-hdmb" id="DVT_CTHD" name="DVT_CTHD" aria-label="Default select example">
                                            <option value="" selected></option>
                                            <option value="KGS">KGS</option>
                                            <option value="MTS">MTS</option>
                                            <option value="LBS">LBS</option>
                                        </select>
                                        <label class="col-form-label col-md-2 col-sm-2">Giá TT</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="GiaTT_CTHD" name="GiaTT_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Số lượng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="SoLuong_CTHD" name="SoLuong_CTHD">
                                        <label class="col-form-label col-md-2 col-sm-2">Thuế VAT</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="ThueVAT_CTHD" name="ThueVAT_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Trọng lượng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="TrongLuong_CTHD" name="TrongLuong_CTHD">
                                        <label class="col-form-label col-md-2 col-sm-2">Sig</label>
                                        <select class="form-select form-control col-md-4 col-sm-4 text-box-hdmb" id="Sig_CTHD" name="Sig_CTHD" aria-label="Default select example">
                                            <option value="" selected></option>
                                            <option value="+"> + </option>
                                            <option value="-"> - </option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Số lót</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="SoLot_CTHD" name="SoLot_CTHD">
                                        <label class="col-form-label col-md-2 col-sm-2">Mức trừ hoặc cộng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="Muctru_CTHD" name="Muctru_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Giá tháng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="GiaThang_CTHD" name="GiaThang_CTHD">
                                        <label class="col-form-label col-md-2 col-sm-2">Ngày chốt cuối</label>
                                        <input type="date" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="NgayChot_CTHD" name="NgayChot_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Giá năm</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="GiaNam_CTHD" name="GiaNam_CTHD">
                                        <label class="col-form-label col-md-2 col-sm-2">Mức stoploss</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="MucStopLoss_CTHD" name="MucStopLoss_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2 col-sm-2">Giá thị trường</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="GiaThiTruong_CTHD" name="GiaThiTruong_CTHD">
                                        <label class="col-form-label col-md-2 col-sm-2">Mức thưởng</label>
                                        <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" id="MucThuong_CTHD" name="MucThuong_CTHD">
                                    </div>
                                    <div class="form-group row">
                                        <input type="checkbox" style="margin-right:10px;margin-left:10px;margin-top:7px" name="ChuyenThang_CTHD" value="1" id="ChuyenThang_CTHD">
                                        <input type="hidden" name="ChuyenThang_CTHD" value="0" hidden>
                                        <label class="col-form-label">Chuyển tháng</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="Submit_form_CTHD()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup choose hàng hóa-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="selected_HangHoa">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            @(Html.DevExtreme().DataGrid()
                                                        .DataSource(d => d.Mvc().Controller("Hopdong").LoadAction("GetHangHoa").Key("mahang").LoadParams(new { id = new JS("ReturnMaKhach")}))
                                                        .ID("dataGrid_HangHoa")
                                                        .Columns(columns => {
                                                        columns.Add().DataField("mahang").Caption("Mã hàng");
                                                        columns.Add().DataField("tenhang").Caption("Tên hàng");
                                                        columns.Add().DataField("IsCheck").CellTemplate(@<text>@(Html.DevExtreme().CheckBox()
                                                                                                                    .Value(new JS("data.IsCheck"))
                                                                                                                )</text>).Caption("Check Item");
                                                            columns.Add().DataField("dvt").Caption("ĐVT");
                                                            columns.Add().DataField("vat").Caption("VAT");
                                                            columns.Add().DataField("TLGD").Caption("TLGD");
                                                        })
                                                        .OnSelectionChanged("Selected_Change_HangHoa")
                                                        .HoverStateEnabled(true)
                                                        .Paging(p => p.PageSize(10))
                                                        .FilterRow(f => f.Visible(true))
                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                    )
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="close_Popup_HangHoa()">Selected</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                @*----------------------------------------------------Bootrap popup save phụ kiện hợp đồng-------------------------------------------------------------------------------------------------------------------------------*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="Annex_HDMB">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Phụ kiện hợp đồng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="Form_Annex_HDMB" method="post">
                                <div class="col-md-12 col-sm-12" id="leftdiv">
                                    @(Html.DevExtreme().DataGrid<Data.Models.Trading_system.HdmbAnnex>().ID("DataGrid_Annex_HDMB")
                                    .DataSource(ds => ds.Mvc()
                                        .Controller("Hopdong")
                                        .LoadAction("GetAnnex_HDMB")
                                        .Key("Id")
                                        .LoadParams(new { id = new JS("GetSystemRef") })
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns => {

                                        columns.AddFor(m => m.Id).Visible(false);

                                        columns.AddFor(m => m.Number).Caption("Number");

                                        columns.AddFor(m => m.NoiDung).Caption("Nội dung");

                                        columns.AddFor(m => m.NgayTao).Caption("Ngày tạo");

                                        columns.AddFor(m => m.Path).Caption("Path");

                                    })
                                    .OnSelectionChanged("Selected_Annex")
                                    .ColumnAutoWidth(true)
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .HoverStateEnabled(true)
                                    .HeaderFilter(hearder => hearder.Visible(true))
                                    .AllowColumnResizing(true)
                                    .AllowColumnReordering(true)
                                    .ShowBorders(true)
                                    .Grouping(group => group.AutoExpandAll(true))
                                    .Paging(paging => paging.PageSize(24))
                                )
                                    <div class="form-group row" style="margin-top:10px">
                                        <label class="col-form-label col-md-2 col-sm-2">Số phụ kiện</label>
                                        <input type="text" class="form-control col-md-10 col-sm-10 text-box-hdmb" id="SoPhuKien_Annex_HDMB" name="SoPhuKien_Annex_HDMB">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-12 col-sm-12">Nội dung chỉnh sửa</label>
                                    </div>
                                    <div class="form-group row" style="border-width:1px;border:solid;height:180px">
                                        <div class="CheckBox_Annex" id="CheckBox_Annex">

                                        </div>
                                    </div>
                                    <input type="text" id="IdAnnex" hidden>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="ExportWord_Annex()">Export word</button>
                                    <button type="button" class="btn btn-secondary" onclick="Submit_form_Annex_HDMB()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="col-md-9 col-sm-9" id="rightdiv" style="height:auto;min-height:auto">
                    <form id="Form_Hdmb" method="post">
                        <div class="form-group row" style="margin-bottom:0px">
                            <div class="col-md-8 col-sm-8" style="border: 1px solid; border-color: black;text-align:center">
                                <label class="col-form-label col-md-2 col-sm-2">Mã ĐV</label>
                                <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" asp-for="Macn" disabled>
                                <label class="col-form-label col-md-2 col-sm-2">Người tạo</label>
                                <input type="text" class="form-control col-md-4 col-sm-4 text-box-hdmb" asp-for="Nguoilam" id="Nguoilam" disabled>
                            </div>
                            <div class="col-md-4 col-sm-4" style="border: 1px solid; border-color: black;text-align:center">
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px" asp-for="TypeKd" value="0" name="TypeKd" id="TrucTiep" checked disabled><label for="y">Trực tiếp</label>
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px" asp-for="TypeKd" value="1" name="TypeKd" id="UyThac" disabled><label for="y">Ủy thác</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 col-sm-8" style="border: 1px solid; border-color: black;text-align:center">
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px " asp-for="MuaBan" id="MUA" value="MUA" name="MuaBan" checked disabled><label for="MUA">Mua hàng</label>
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px " asp-for="MuaBan" id="BAN" value="BAN" name="MuaBan" disabled><label for="BAN">Bán hàng</label>
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px " asp-for="MuaBan" id="MUON" value="MUON" name="MuaBan" disabled><label for="MUON">Mượn hàng</label>
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px " asp-for="MuaBan" id="CMUON" value="CMUON" name="MuaBan" disabled><label for="CMUON">Cho mượn</label>
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px " asp-for="MuaBan" id="KTRA" value="KTRA" name="MuaBan" disabled><label for="KTRA">Khách trả</label>
                            </div>
                            <div class="col-md-4 col-sm-4" style="border: 1px solid; border-color: black;text-align:center">
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px" asp-for="IsFix" value="false" name="IsFix" id="OutRight" checked disabled><label for="OutRight">Giá outright</label>
                                <input type="radio" style="display: inline-block; margin: 5px 10px 5px 10px" asp-for="IsFix" value="true" name="IsFix" id="TruLui" disabled><label for="TruLui">Giá trừ lùi</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">System ID</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Systemref" disabled>
                            <div class="col-md-8 col-sm-8" style="text-align:left">
                                <input type="checkbox" style="margin-right:10px;margin-left:10px" name="@Html.NameFor(a => a.Pakd)" value="true" id="Pakd" disabled>
                                <input type="hidden" name="@Html.NameFor(a => a.Pakd)" value="false" hidden>
                                <label class="col-form-label">Hợp đồng bắt buộc có PAKD</label>
                                <input type="checkbox" style="margin-right: 10px; margin-left: 10px" name="@Html.NameFor(a => a.IsNoKhoDoi)" value="true" id="IsNoKhoDoi" disabled>
                                <input type="hidden" name="@Html.NameFor(a => a.IsNoKhoDoi)" value="false" hidden>
                                <label class="col-form-label">Hợp đồng nợ khó đòi</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Ref</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" asp-for="Ref" id="Ref" disabled>
                            <label class="col-form-label col-md-2 col-sm-2">Số hợp đồng</label>
                            <input type="text" class="form-control col-md-6 col-sm-6 text-box-hdmb" id="Sohd" asp-for="Sohd" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Tiền tệ</label>
                            @(Html.DevExtreme().SelectBoxFor(a => a.Tiente).DataSource(d => d.Mvc().Controller("Hopdong")
                                                                            .LoadAction("GetTienTe").LoadMode(DataSourceLoadMode.Raw))
                                                                        .DisplayExpr("Ma").ValueExpr("Ma").ElementAttr("class", "form-control col-md-2 col-sm-2 text-box-hdmb").OnValueChanged("Changed_TienTe").ID("Tiente").Disabled(true))
                            <input type="text" class="form-control col-md-8 col-sm-8 text-box-hdmb" id="Money" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Khách hàng</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Makhach" asp-for="Makhach" disabled>
                            <input type="text" class="form-control col-md-5 col-sm-5 text-box-hdmb" id="Tenfull" asp-for="Tenfull" disabled>
                            <label class="col-form-label col-md-1 col-sm-1">V.chuyển</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="VanChuyen" asp-for="VanChuyen" disabled>
                        </div>
                        <div class="form-group row" style="display:none" id="hdmb_chomuon">
                            <label class="col-form-label col-md-2 col-sm-2">HĐ cho mượn</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="SoHdcmuon" asp-for="SoHdcmuon" disabled>
                            <input type="text" class="form-control col-md-8 col-sm-8 text-box-hdmb" id="HdcmuonId" asp-for="HdcmuonId" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">INT Ký</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="IntKy" asp-for="IntKy" disabled>
                            <input type="text" class="form-control col-md-8 col-sm-8 text-box-hdmb" id="Name_IntKy" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Khách ký</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="ClientKy" asp-for="ClientKy" disabled>
                            <input type="text" class="form-control col-md-8 col-sm-8 text-box-hdmb" id="Name_ClientKy" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Thanh toán</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Thanhtoan" asp-for="Thanhtoan" disabled>
                            <input type="text" class="form-control col-md-8 col-sm-8 text-box-hdmb" id="TenTT" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2">Địa điểm giao hàng</label>
                            <input type="text" class="form-control col-md-10 col-sm-10 text-box-hdmb" id="DiaDiemGiaoHang" asp-for="DiaDiemGiaoHang" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-1 col-sm-1">Mức ứng</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Mucung" disabled>
                            <label class="col-form-label col-md-auto col-sm-auto">Tạm ứng theo HĐ(FOB)</label>
                            <input type="text" class="form-control col-md-3 col-sm-3 text-box-hdmb" id="TienUngHd" asp-for="TienUngHd" disabled>
                            <label class="col-form-label col-md-auto col-sm-auto">Tạm ứng thực tế</label>
                            <input type="text" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="TienUngTt" asp-for="TienUngTt" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-1 col-sm-1">Ngày hđ</label>
                            <input type="date" class="form-control text-box-hdmb col-md-2 col-sm-2" id="Ngayky" asp-for="Ngayky" disabled>
                            <label class="col-form-label col-md-1 col-sm-1" style="padding-left:0px;padding-right:0px">Ngày g.hàng</label>
                            <input type="date" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Ngaygiao" asp-for="Ngaygiao" disabled>
                            <label class="col-form-label col-md-1 col-sm-1" style="padding-left:0px;padding-right:0px">Ngày h.lực</label>
                            <input type="date" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="Ngayhl" asp-for="Ngayhl" disabled>
                            <label class="col-form-label col-md-1 col-sm-1" style="padding-left:0px;padding-right:0px;display:none" id="label_ngaytra">Ngày trả</label>
                            <input type="date" class="form-control col-md-2 col-sm-2 text-box-hdmb" id="NgayTraPhaitra" asp-for="NgayTraPhaitra" style="display:none" disabled>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-1 col-sm-1">Ghi chú</label>
                            <textarea type="text" class="form-control col-md-11 col-sm-11 text-box-hdmb" asp-for="Ghichu" id="Ghichu" disabled></textarea>
                        </div>
                    </form>
                    @(Html.DevExtreme().DataGrid<Data.Models.Trading_system.CtHdmb>().ID("DataGrid_Ct_HDMB")
                                    .DataSource(ds => ds.Mvc()
                                        .Controller("Hopdong")
                                        .LoadAction("GetCt_HDMB")
                                        .Key("IdRow")
                                        .LoadParams(new { id = new JS("GetSystemRef") })
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns => {
                                        columns.AddFor(m => m.IdRow).Visible(false);

                                        columns.AddFor(m => m.Systemref).Caption("Systemref");

                                        columns.AddFor(m => m.Mahang).Caption("Mã hàng");

                                        columns.Add().DataField("Tenhang").Caption("Tên hàng");

                                        columns.AddFor(m => m.Soluong).Caption("Số lượng");

                                        columns.AddFor(m => m.Trongluong).Caption("Trọng lượng");

                                        columns.AddFor(m => m.Dvt).Caption("ĐVT");

                                        columns.AddFor(m => m.Vat).Caption("VAT");

                                        columns.AddFor(m => m.Giact).Caption("Giá");

                                        columns.AddFor(m => m.Giatt).Caption("Giá tạm tính");

                                        columns.AddFor(m => m.Solot).Caption("Số LOT");

                                        columns.AddFor(m => m.Giathang).Caption("Giá tháng");

                                        columns.AddFor(m => m.Gianam).Caption("Giá năm");

                                        columns.AddFor(m => m.Sig).Caption("+ / -");

                                        columns.AddFor(m => m.Diff).Caption("Mức trừ");

                                        columns.AddFor(m => m.FNgayfix).Caption("Ngày chốt");

                                        columns.AddFor(m => m.Stoploss).Caption("Mức stoploss");

                                        columns.Add().DataField("MaNhom").Caption("Mã nhóm");

                                        columns.AddFor(m => m.Giathitruong).Caption("Giá thị trường");

                                        columns.AddFor(m => m.Mucthuong).Caption("Mức thưởng");
                                    })
                                    .OnSelectionChanged("Selected_CTHD")
                                    .ColumnAutoWidth(true)
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .HoverStateEnabled(true)
                                    .HeaderFilter(hearder => hearder.Visible(true))
                                    .AllowColumnResizing(true)
                                    .AllowColumnReordering(true)
                                    .ShowBorders(true)
                                    .Grouping(group => group.AutoExpandAll(true))
                                    .Paging(paging => paging.PageSize(24))
                                )
                    <input type="text" id="Systemref" hidden>

                </div>
            </div>
            <div class="col-md-12 col-sm-12" id="leftdiv">
                <div class="col-md-3 col-sm-3" style="text-align:center">
                    <button type="button" class="btn btn-secondary" id="Button_New" style="font-size:small" onclick="Button_New()">New</button>
                    <button type="button" class="btn btn-secondary" id="Button_Edit" style="font-size:small" onclick="Button_Edit()">Edit</button>
                    <button type="button" class="btn btn-secondary" id="Button_Cancel" style="font-size:small" onclick="Button_Cancel()">Cancel</button>
                </div>
                <div class="col-md-9 col-sm-9" style="text-align:center">
                    <button type="button" class="btn btn-secondary" style="font-size:small" onclick="ExportWord()">Export word</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small">E Document</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small">Deli Detail</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small" onclick="AddAnnex()">Add Annex</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small" onclick="AddPlans()">Add plan</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small" onclick="AddDetail()">Add Detail</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small" onclick="EditDetail()">Edit Detail</button>
                    <button type="button" class="btn btn-secondary" style="font-size:small" onclick="DeleteDetail()" id="DeleteButton">Delete Detail</button>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="macn" value="@ViewBag.macn" hidden>
</div>
<script type="text/javascript">
    function Changed_TienTe(data) {
        if (data.value.replace(/\s/g, '') == "VND") {
            document.getElementById("Money").value = 'Việt Nam Đồng';
        } else if (data.value.replace(/\s/g, '') == "USD") {
            document.getElementById("Money").value = 'Đô la mỹ';
        }
    }
    function Hdmb_Selection(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            $.post('/Hopdong/GetList_Annex', { 'Systemref': data.Systemref }, function (data) {
                var list = data;
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    document.getElementById('CheckBox_Annex').innerHTML = document.getElementById('CheckBox_Annex').innerHTML + "<input type='checkbox' name='CheckBox_AnnexHDMB' value=\"" + data[i] + "\">" +
                        "<label style='margin-left:10px'>" + data[i] + "</label><br>";
                }
            })
            $.post('/Hopdong/Fill_Form_HDMB', { 'Systemref': data.Systemref }, function (array) {
                SetValue_Form_CTHD(array.Systemref, array.Ref, array.Sohd);
                SetValue_Form_CTHDOutRight(array.Systemref, array.Ref, array.Sohd);
                document.getElementById("Systemref").value = array.Systemref;
                document.getElementById("Ref").value = array.Ref;
                document.getElementById("Makhach").value = array.Makhach;
                document.getElementById("Sohd").value = array.Sohd;
                $("#Tiente").dxSelectBox("instance").option("value", array.Tiente);
                document.getElementById("IntKy").value = array.IntKy;
                document.getElementById("ClientKy").value = array.ClientKy;
                document.getElementById("Thanhtoan").value = array.Thanhtoan;
                document.getElementById("Tenfull").value = array.Tenfull;
                document.getElementById("DiaDiemGiaoHang").value = array.DiaDiemGiaoHang;
                document.getElementById("Ghichu").value = array.Ghichu;
                document.getElementById("Ngayky").value = new Date(array.Ngayky).toString("yyyy-MM-dd");
                document.getElementById("Ngaygiao").value = new Date(array.Ngaygiao).toString("yyyy-MM-dd");
                document.getElementById("Ngayhl").value = new Date(array.Ngayhl).toString("yyyy-MM-dd");
                document.getElementById("NgayTraPhaitra").value = new Date(array.NgayTraPhaitra).toString("yyyy-MM-dd");
                document.getElementById("TienUngHd").value = array.TienUngHd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');;
                document.getElementById("TienUngTt").value = array.TienUngTt;
                document.getElementById("Nguoilam").value = array.Nguoilam;
                document.getElementById("Macn").value = array.Macn;
                document.getElementById("VanChuyen").value = array.VanChuyen;
                document.getElementById("SoHdcmuon").value = array.SoHdcmuon;
                document.getElementById("HdcmuonId").value = array.HdcmuonId;
                document.getElementById("Mucung").value = array.Mucung;
                document.getElementById("Money").value = array.Money;
                document.getElementById("TenTT").value = array.TenTT;
                document.getElementById("Name_IntKy").value = array.Name_IntKy;
                document.getElementById("Name_ClientKy").value = array.Name_ClientKy;
                if (array.IsFix == false) {
                    document.getElementById("OutRight").checked = true;
                } else {
                    document.getElementById("TruLui").checked = true;
                }
                if (array.TypeKd == 0) {
                    document.getElementById("TrucTiep").checked = true;
                } else {
                    document.getElementById("UyThac").checked = true;
                } 
                if (array.Pakd == true) {
                    document.getElementById("Pakd").checked = true;
                }
                else {
                    document.getElementById("Pakd").checked = false;
                }
                if (array.IsNoKhoDoi == true) {
                    document.getElementById("IsNoKhoDoi").checked = true;
                }
                else {
                    document.getElementById("IsNoKhoDoi").checked = false;
                }
                switch (array.MuaBan) {
                    case "MUA":
                        document.getElementById("MUA").checked = true;
                        document.getElementById("label_ngaytra").style.display = "none";
                        document.getElementById("NgayTraPhaitra").style.display = "none";
                        document.getElementById("hdmb_chomuon").style.display = "none";
                        break;
                    case "BAN":
                        document.getElementById("BAN").checked = true;
                        document.getElementById("label_ngaytra").style.display = "none";
                        document.getElementById("NgayTraPhaitra").style.display = "none";
                        document.getElementById("hdmb_chomuon").style.display = "none";
                        break;
                    case "MUON":
                        document.getElementById("MUON").checked = true;
                        document.getElementById("label_ngaytra").style.display = "block";
                        document.getElementById("NgayTraPhaitra").style.display = "block";
                        document.getElementById("hdmb_chomuon").style.display = "none";
                        break;
                    case "CMUON":
                        document.getElementById("CMUON").checked = true;
                        document.getElementById("label_ngaytra").style.display = "none";
                        document.getElementById("NgayTraPhaitra").style.display = "none";
                        document.getElementById("hdmb_chomuon").style.display = "none";
                        break;
                    case "KTRA":
                        document.getElementById("KTRA").checked = true;
                        document.getElementById("label_ngaytra").style.display = "none";
                        document.getElementById("NgayTraPhaitra").style.display = "none";
                        document.getElementById("hdmb_chomuon").style.display = "block";
                        break;
                }
            })
            document.getElementById("Systemref").value = data.Systemref;
            $("#DataGrid_Ct_HDMB").dxDataGrid("refresh");
            $("#DataGrid_Annex_HDMB").dxDataGrid("refresh");
            Disable_form();
            document.getElementById("Button_New").innerHTML = 'New';
        }

    }
    function GetSystemRef() {
        var data = document.getElementById("Systemref").value;
        if (data == null || data == 0) {
            return 0;
        } else {
            return data;
        }

    }
    function Enable_form() {
        document.getElementById("Systemref").disabled = false;
        document.getElementById("Ref").disabled = false;
        document.getElementById("Makhach").disabled = false;
        document.getElementById("Sohd").disabled = false;
        $("#Tiente").dxSelectBox("instance").option("disabled", false);
        document.getElementById("IntKy").disabled = false;
        document.getElementById("ClientKy").disabled = false;
        document.getElementById("Thanhtoan").disabled = false;
        document.getElementById("Tenfull").disabled = false;
        document.getElementById("DiaDiemGiaoHang").disabled = false;
        document.getElementById("Ghichu").disabled = false;
        document.getElementById("Ngayky").disabled = false;
        document.getElementById("Ngaygiao").disabled = false;
        document.getElementById("Ngayhl").disabled = false;
        document.getElementById("NgayTraPhaitra").disabled = false;
        document.getElementById("TienUngHd").disabled = false;
        document.getElementById("TienUngTt").disabled = false;
        document.getElementById("Nguoilam").disabled = false;
        document.getElementById("Macn").disabled = false;
        document.getElementById("VanChuyen").disabled = false;
        document.getElementById("SoHdcmuon").disabled = false;
        document.getElementById("HdcmuonId").disabled = false;
        document.getElementById("Mucung").disabled = false;
        document.getElementById("Money").disabled = false;
        document.getElementById("TenTT").disabled = false;
        document.getElementById("Name_IntKy").disabled = false;
        document.getElementById("Name_ClientKy").disabled = false;
        document.getElementById("label_ngaytra").disabled = false;
        document.getElementById("NgayTraPhaitra").disabled = false;
        document.getElementById("hdmb_chomuon").disabled = false;
        document.getElementById("MUA").disabled = false;
        document.getElementById("BAN").disabled = false;
        document.getElementById("MUON").disabled = false;
        document.getElementById("CMUON").disabled = false;
        document.getElementById("KTRA").disabled = false;
        document.getElementById("OutRight").disabled = false;
        document.getElementById("TruLui").disabled = false;
        document.getElementById("TrucTiep").disabled = false;
        document.getElementById("UyThac").disabled = false;
        document.getElementById("Pakd").disabled = false;
        document.getElementById("IsNoKhoDoi").disabled = false;

    }
    function Disable_form() {
        document.getElementById("Systemref").disabled = true;
        document.getElementById("Ref").disabled = true;
        document.getElementById("Makhach").disabled = true;
        document.getElementById("Sohd").disabled = true;
        $("#Tiente").dxSelectBox("instance").option("disabled", true);
        document.getElementById("IntKy").disabled = true;
        document.getElementById("ClientKy").disabled = true;
        document.getElementById("Thanhtoan").disabled = true;
        document.getElementById("Tenfull").disabled = true;
        document.getElementById("DiaDiemGiaoHang").disabled = true;
        document.getElementById("Ghichu").disabled = true;
        document.getElementById("Ngayky").disabled = true;
        document.getElementById("Ngaygiao").disabled = true;
        document.getElementById("Ngayhl").disabled = true;
        document.getElementById("NgayTraPhaitra").disabled = true;
        document.getElementById("TienUngHd").disabled = true;
        document.getElementById("TienUngTt").disabled = true;
        document.getElementById("Nguoilam").disabled = true;
        document.getElementById("Macn").disabled = true;
        document.getElementById("VanChuyen").disabled = true;
        document.getElementById("SoHdcmuon").disabled = true;
        document.getElementById("HdcmuonId").disabled = true;
        document.getElementById("Mucung").disabled = true;
        document.getElementById("Money").disabled = true;
        document.getElementById("TenTT").disabled = true;
        document.getElementById("Name_IntKy").disabled = true;
        document.getElementById("Name_ClientKy").disabled = true;
        document.getElementById("label_ngaytra").disabled = true;
        document.getElementById("NgayTraPhaitra").disabled = true;
        document.getElementById("hdmb_chomuon").disabled = true;
        document.getElementById("MUA").disabled = true;
        document.getElementById("BAN").disabled = true;
        document.getElementById("MUON").disabled = true;
        document.getElementById("CMUON").disabled = true;
        document.getElementById("KTRA").disabled = true;
        document.getElementById("OutRight").disabled = true;
        document.getElementById("TruLui").disabled = true;
        document.getElementById("TrucTiep").disabled = true;
        document.getElementById("UyThac").disabled = true;
        document.getElementById("Pakd").disabled = true;
        document.getElementById("IsNoKhoDoi").disabled = true;
    }
    function ClearText_Form() {
        document.getElementById("Systemref").value = '';
        document.getElementById("Ref").value = '';
        document.getElementById("Makhach").value = '';
        document.getElementById("Sohd").value = '';
        document.getElementById("Tiente").value = '';
        document.getElementById("IntKy").value = '';
        document.getElementById("ClientKy").value = '';
        document.getElementById("Thanhtoan").value = '';
        document.getElementById("Tenfull").value = '';
        document.getElementById("DiaDiemGiaoHang").value = '';
        document.getElementById("Ghichu").value = '';
        document.getElementById("Ngayky").value = '';
        document.getElementById("Ngaygiao").value = '';
        document.getElementById("Ngayhl").value = '';
        document.getElementById("NgayTraPhaitra").value = '';
        document.getElementById("TienUngHd").value = '';
        document.getElementById("TienUngTt").value = '';
        document.getElementById("Nguoilam").value = '';
        document.getElementById("Macn").value = '';
        document.getElementById("VanChuyen").value = '';
        document.getElementById("SoHdcmuon").value = '';
        document.getElementById("HdcmuonId").value = '';
        document.getElementById("Mucung").value = '';
        document.getElementById("Money").value = '';
        document.getElementById("TenTT").value = '';
        document.getElementById("Name_IntKy").value = '';
        document.getElementById("Name_ClientKy").value = '';
    }
    function Button_New() {
        var text = document.getElementById("Button_New").innerText;
        if (text == 'New') {
            document.getElementById("Button_New").innerHTML = 'Save';
            Enable_form();
            ClearText_Form();
        } else if (text == 'Save') {
            document.getElementById("Form_Hdmb").action = "/Hopdong/AddHopDong";
            document.getElementById("Form_Hdmb").submit();
        }

    } 
    function Button_Cancel() {
        location.href = '/Hopdong/CancelContract/' + document.getElementById("Systemref").value;
    }
    function Button_Edit() {
        var text = document.getElementById("Button_Edit").innerHTML;
        if (text == "Edit") {
            document.getElementById("Button_Edit").innerHTML = 'Save';
            Enable_form();

        } else if (text == 'Save') {
            var id = document.getElementById("Systemref").value;
            document.getElementById("Form_Hdmb").action = "/Hopdong/AddHopDong/" + id;
            document.getElementById("Form_Hdmb").submit();
        }
    }
    $("#Makhach").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#selected_KH").modal('show');
        }
    }); 
    $("#IntKy").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#selected_IntKy").modal('show');
        }
    }); 
    $("#ClientKy").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#DataGrid_ClientKy").dxDataGrid("refresh");
            $("#selected_ClientKy").modal('show');
        }
    });
    $("#Thanhtoan").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#DataGrid_TT").dxDataGrid("refresh");
            $("#selected_TT").modal('show');
        }
    }); 
    $("#SoHdcmuon").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#selected_HDCmuon").modal('show');
        }
    });
    $("#MaHang_CTHD_OutRight").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#dataGrid_HangHoa").dxDataGrid("refresh");
            $("#selected_HangHoa").modal('show');
        }
    });
    $("#MaHang_CTHD").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#dataGrid_HangHoa").dxDataGrid("refresh");
            $("#selected_HangHoa").modal('show');
        }
    }); 
    function Selected_Change_HDCmuon(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            document.getElementById("SoHdcmuon").value = data.Sohd;
            document.getElementById("HdcmuonId").value = data.Systemref;
        }
    }
    function Selected_Change_KH(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        var strDate = new Date(); // By default Date empty constructor give you Date.now
        var shortYear = strDate.getFullYear();
        // Add this line
        var twoDigitYear = shortYear.toString().substr(-2);
        if (data) {
            if (data.checkitem == true && data.ValueNorm == 0 && $('input[name="MuaBan"]:checked').val() == "MUA") {
                $.notify("Chưa đăng ký trọng lượng giao dịch cho khách hàng này", "error");
            } else if ($('input[name="MuaBan"]:checked').val() == "MUA") {
                document.getElementById("Makhach").value = data.MaKhach;
                document.getElementById("Tenfull").value = data.TenKhach;
                document.getElementById("VanChuyen").value = data.Vanchuyen;
                document.getElementById("Sohd").value = document.getElementById("Ref").value + "/" + document.getElementById("macn").value + "-" + document.getElementById("Makhach").value + "/" + twoDigitYear;
            }
            else
            {
                document.getElementById("Makhach").value = data.MaKhach;
                document.getElementById("Tenfull").value = data.TenKhach;
                document.getElementById("VanChuyen").value = data.Vanchuyen;
            }
        }
    } 
    function Selected_Change_IntKy(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            document.getElementById("IntKy").value = data.Makhach;
            document.getElementById("Name_IntKy").value = data.Nguoiky;
        } 
    }
    function Selected_Change_ClientKy(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            document.getElementById("ClientKy").value = data.Makhach;
            document.getElementById("Name_ClientKy").value = data.Nguoiky;
        }
    }
    function Selected_Change_TT(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            document.getElementById("Thanhtoan").value = data.Matt;
            document.getElementById("TenTT").value = data.TenTt;
            document.getElementById("Mucung").value = data.Mucung;
        }
    }
    function Selected_Change_HangHoa(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            if ($('#Form_ThemCTHD_OutRight').hasClass('show')) {
                console.log(1);
                document.getElementById("MaHang_CTHD_OutRight").value = data.mahang;
                document.getElementById("TenHang_CTHD_OutRight").value = data.tenhang;
                $('select[name=DVT_CTHD_OutRight]').val(data.dvt.trim());
                document.getElementById("VAT_CTHD_OutRight").value = data.vat;
            } else {
                console.log(0);
                document.getElementById("MaHang_CTHD").value = data.mahang;
                document.getElementById("TenHang_CTHD").value = data.tenhang;
                $('select[name=DVT_CTHD]').val(data.dvt.trim());
                document.getElementById("ThueVAT_CTHD").value = data.vat;
            }
            
        } 
    }
    function Selected_CTHD(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            document.getElementById("idRow_CTHD").value = data.IdRow;
        }
    }
    function Selected_Annex(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            document.getElementById("IdAnnex").value = data.Id;
        }
    }
    function ReturnMaKhach() {
        return document.getElementById("Makhach").value;
    }
    function Param_DatagridTT() {
        var MuaBan = $('input[name="MuaBan"]:checked').val();
        var IsFix = $('input[name="IsFix"]:checked').val();
        var LoaiHD = "";
        if (MuaBan == "MUA" || MuaBan == "MUON" || MuaBan == "KTRA") {
            LoaiHD = "MUA";
        } else {
            LoaiHD = "BAN"
        }
        return LoaiHD + IsFix;
    }
    function close_Popup_KH() {
        $("#selected_KH").modal('hide');
    }
    function close_Popup_IntKy() {
        $("#selected_IntKy").modal('hide');
    }
    function close_Popup_ClientKy() {
        $("#selected_ClientKy").modal('hide');
    } 
    function close_Popup_TT() {
        $("#selected_TT").modal('hide');
    }
    function close_Popup_HDCmuon() {
        $("#selected_HDCmuon").modal('hide');
    }
    function close_Popup_HangHoa() {
        $("#selected_HangHoa").modal('hide');
    }
    function ReturnMaKhach() {
        return document.getElementById("Makhach").value;
    }
    $('input[name="MuaBan"]').click(function () {
        if ($(this).attr("value") == "KTRA") {
            $("#hdmb_chomuon").show('slow');
            $("#NgayTraPhaitra").hide('slow'); 
            $("#label_ngaytra").hide('slow');
        } else if ($(this).attr("value") == "MUON") {
            $("#NgayTraPhaitra").show('slow');
            $("#label_ngaytra").show('slow');
            $("#hdmb_chomuon").hide('slow');
        } else {
            $("#NgayTraPhaitra").hide('slow');
            $("#hdmb_chomuon").hide('slow');
            $("#label_ngaytra").hide('slow');
        }
    });
    function SetValue_Form_CTHDOutRight(SystemId_CTHD_OutRight, Ref_CTHD_OutRight, SoHD_CTHD_OutRight) {
        document.getElementById("SystemId_CTHD_OutRight").value = SystemId_CTHD_OutRight;
        document.getElementById("Ref_CTHD_OutRight").value = Ref_CTHD_OutRight;
        document.getElementById("SoHD_CTHD_OutRight").value = SoHD_CTHD_OutRight;
    }
    function SetValue_Form_CTHD(SystemId_CTHD_OutRight, Ref_CTHD_OutRight, SoHD_CTHD_OutRight) {
        document.getElementById("SystemId_CTHD").value = SystemId_CTHD_OutRight;
        document.getElementById("Ref_CTHD").value = Ref_CTHD_OutRight;
        document.getElementById("SoHD_CTHD").value = SoHD_CTHD_OutRight;
    }
    function AddDetail() {
        if (document.getElementById("OutRight").checked) {
            $('#Form_ThemCTHD_OutRight').modal('show');
        } else {
            $('#Form_ThemCTHD_TruLui').modal('show');
        }
        
    }
    function EditDetail() {
        var IdRow = document.getElementById("idRow_CTHD").value;
        if (IdRow == null || IdRow == "") {
            $.notify("Vui lòng chọn chi tiết hợp đồng muốn chỉnh sửa!", "error");
        } else {
            if (document.getElementById("OutRight").checked) {
                $.post("/Hopdong/Fill_Form_CTHD", { 'IdRow': IdRow }, function (array) {
                    document.getElementById("SystemId_CTHD_OutRight_hidden").value = array.Systemref;
                    document.getElementById("idRow_CTHD_OutRight").value = array.IdRow;
                    document.getElementById("SystemId_CTHD_OutRight").value = array.Systemref;
                    document.getElementById("Ref_CTHD_OutRight").value = array.Ref;
                    document.getElementById("SoHD_CTHD_OutRight").value = array.SoHD;
                    document.getElementById("MaHang_CTHD_OutRight").value = array.Mahang;
                    document.getElementById("TenHang_CTHD_OutRight").value = array.TenhangHoa;
                    $('select[name=DVT_CTHD_OutRight]').val(array.Dvt.trim());
                    document.getElementById("VAT_CTHD_OutRight").value = array.Vat;
                    document.getElementById("SoLuong_CTHD_OutRight").value = array.Soluong;
                    document.getElementById("TrongLuong_CTHD_OutRight").value = array.Trongluong;
                    document.getElementById("OutRight_TheoHD_CTHD_OutRight").value = array.GiaTheoHd;
                    document.getElementById("OutRight_CTHD_OutRight").value = array.Giact;
                    document.getElementById("GiaThiTruong_CTHD_OutRight").value = array.Giathitruong;
                    document.getElementById("MucThuong_CTHD_OutRight").value = array.Mucthuong;
                })
                $('#Form_ThemCTHD_OutRight').modal('show');
            } else {
                $.post("/Hopdong/Fill_Form_CTHD", { 'IdRow': IdRow }, function (array) {
                    document.getElementById("SystemId_CTHD_hidden").value = array.Systemref;
                    document.getElementById("idRow_CTHD").value = array.IdRow;
                    document.getElementById("SystemId_CTHD").value = array.Systemref;
                    document.getElementById("Ref_CTHD").value = array.Ref;
                    document.getElementById("SoHD_CTHD").value = array.SoHD;
                    document.getElementById("MaHang_CTHD").value = array.Mahang;
                    document.getElementById("TenHang_CTHD").value = array.TenhangHoa;
                    $('select[name=DVT_CTHD]').val(array.Dvt.trim());
                    document.getElementById("GiaTT_CTHD").value = array.Giatt;
                    document.getElementById("SoLuong_CTHD").value = array.Soluong;
                    document.getElementById("ThueVAT_CTHD").value = array.Vat;
                    document.getElementById("TrongLuong_CTHD").value = array.Trongluong;
                    document.getElementById("Sig_CTHD").value = array.Sig;
                    document.getElementById("SoLot_CTHD").value = array.Solot;
                    document.getElementById("Muctru_CTHD").value = array.Diff;
                    document.getElementById("GiaThang_CTHD").value = array.Giathang;
                    document.getElementById("NgayChot_CTHD").value = new Date(array.FNgayfix).toString("yyyy-MM-dd");
                    document.getElementById("GiaNam_CTHD").value = array.Gianam;
                    document.getElementById("MucStopLoss_CTHD").value = array.Stoploss;
                    document.getElementById("GiaThiTruong_CTHD").value = array.Giathitruong;
                    document.getElementById("MucThuong_CTHD").value = array.Mucthuong;
                    if (array.ChuyenThang == true) {
                        document.getElementById("ChuyenThang_CTHD").checked = true;
                    } else {
                        document.getElementById("ChuyenThang_CTHD").checked = false;
                    }
                })
                $('#Form_ThemCTHD_TruLui').modal('show');
            }
        }
    }
    function Submit_form_CTHDOutRight() {
        if (document.getElementById("idRow_CTHD_OutRight").value != "") {
            document.getElementById("Form_CTHD_OutRight").action = "/Hopdong/Edit_CTHD_OutRight/" + document.getElementById("idRow_CTHD_OutRight").value;
            document.getElementById("Form_CTHD_OutRight").submit();
        }
        else {
            document.getElementById("Form_CTHD_OutRight").action = "/Hopdong/Add_CTHD_OutRight/" + document.getElementById("SystemId_CTHD_OutRight").value;
            document.getElementById("Form_CTHD_OutRight").submit();
        }
    }
    function Submit_form_CTHD() {
        if (document.getElementById("idRow_CTHD").value != "") {
            document.getElementById("Form_CTHD").action = "/Hopdong/Edit_CTHD/" + document.getElementById("idRow_CTHD").value;
            document.getElementById("Form_CTHD").submit();
        } else {
            document.getElementById("Form_CTHD").action = "/Hopdong/Add_CTHD/" + document.getElementById("SystemId_CTHD").value;
            document.getElementById("Form_CTHD").submit();
            console.log(document.getElementById("SystemId_CTHD_hidden").value);
        }
    }
    function DeleteDetail() {
        var a = document.getElementById("DeleteButton");
        var IdRow_CTHD = document.getElementById("IdRow_CTHD").value;
        if (IdRow_CTHD == null || IdRow_CTHD == "") {
            $.notify("Vui lòng chọn chi tiết hợp đồng muốn xóa", "error");
        }
        else {
            location.href = "/Hopdong/Delete_CTHD/" + IdRow_CTHD;
        }
        
    }
    function ExportWord() {
        location.href = '/Hopdong/ExportWord/' + document.getElementById("Systemref").value;
    }
    function ExportWord_Annex() {
        if (document.getElementById("IdAnnex").value == "") {
            $.notify("Vui lòng chọn phụ kiện muốn export", "error");
        } else {
            location.href = '/Hopdong/ExportWord_Annex_HDMB/' + document.getElementById("IdAnnex").value;
        }
        
    }
    function AddAnnex() {
        $("#Annex_HDMB").modal('show');
    }
    function Submit_form_Annex_HDMB() {
        if (document.getElementById("SoPhuKien_Annex_HDMB").value == "") {
            $.notify("Vui lòng nhập số phụ kiện hợp đồng", "error");
        } else {
            document.getElementById("Form_Annex_HDMB").action = "/Hopdong/Save_Annex_HDMB/" + document.getElementById("Systemref").value;
            document.getElementById("Form_Annex_HDMB").submit();
        }
    }
    function AddPlans() {
        if (GetSystemRef() != 0) {
            location.href = '/Plans/AddPlans/' + GetSystemRef();
        }
        else {
            $.notify("Vui lòng chọn hợp đồng để thêm phương án", "error");
        }
        
    }
    
</script>

<!-- /page content -->
<!-- /page content -->
<!-- footer content -->
