
@model Data.Models.Trading_system.ArchivesAssignTask

<form method="post" asp-controller="Archives" asp-action="AddAssignTask" asp-route-id="@ViewBag.id">
    <div class="modal-body">
        <div class="form-group row">
            <div class="form-group col-md-12">
                <input type="text" value="@ViewBag.id" id="id" hidden>
                <label class="col-form-label col-md-1 col-sm-1">Mã CV</label>
                <div class="col-md-2 col-sm-2">
                    <input type="text" class="form-control" value="@ViewBag.ArchivesCode" disabled>
                </div>
                <label class="col-form-label col-md-1 col-sm-1">Ngày tạo</label>
                <div class="col-md-2 col-sm-2">
                    @(Html.DevExtreme().DateBox().Disabled(true).DisplayFormat("dd/MM/yyyy").Value(@ViewBag.DateCreate))
                </div>
                <label class="col-form-label col-md-1 col-sm-1">Tên CV</label>
                <div class="col-md-5 col-sm-5">
                    <input type="text" class="form-control" value="@ViewBag.ArchivesName" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-12">
                <label class="col-form-label col-md-1 col-sm-1">Trích yếu</label>
                <div class="col-md-11 col-sm-11">
                    <input type="text" class="form-control" value="@ViewBag.Contents" disabled>
                </div>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <table class="table" id="List_file_attach">
                    <tr>
                        <th>
                            Tên file
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    @{
                        foreach (var item in ViewBag.ListFileAttach)
                        {
                            <tr>
                                <td>
                                    @item.FileSource
                                </td>
                                <td>
                                    <a href='#' onclick='DeleteFile(this, "@item.Id")'><span class='glyphicon glyphicon-remove red' aria-hidden="true"> | </span></a>
                                    <a href='#' onclick='DownloadFileAttach("@item.FileSource")'><span class='fa fa-download' aria-hidden="true"> | </span></a>
                                    <a href='#' onclick='ViewFileAttach("@item.FileSource")'><span class='fa fa-eye' aria-hidden="true"></span></a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="form-group col-md-6">
                <div class="card-box table-responsive">
                    @(Html.DevExtreme().DataGrid<Data.Models.Trading_system.Sp_GetDocument_Archive>()
                                    .DataSource(ds => ds.Mvc()
                                        .Controller("Archives")
                                        .LoadAction("GetDocument_HasArchive")
                                        .LoadParams(new { id = ViewBag.id })
                                        .DeleteAction("DeleteDocument_Archive")
                                        .Key("DocId")
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns => {

                                        columns.AddFor(m => m.NumberSign).Caption("Số văn bản");

                                        columns.AddFor(m => m.Contents).Caption("Nội dung văn bản");

                                    })
                                    .Editing(e => e.AllowDeleting(true).UseIcons(true))
                                    .HoverStateEnabled(true)
                                    .ShowBorders(true)
                                    .Selection(s => s.Mode(SelectionMode.Single).Deferred(true))
                                    .FilterRow(filter => filter.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .HeaderFilter(hearder => hearder.Visible(true))
                                    .AllowColumnResizing(true)
                                    .AllowColumnReordering(true)
                                    .ColumnFixing(c => c.Enabled(true))
                                    .ColumnAutoWidth(true)
                                    .ColumnFixing(c => c.Enabled(true))
                                    .Paging(paging => paging.PageSize(5))
                                    .Pager(paper =>
                                    {
                                        paper.ShowPageSizeSelector(true);
                                        paper.AllowedPageSizes(new[] { 5, 10, 20 });
                                        paper.ShowInfo(true);
                                    })
                                )
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="Add_file_attach" class="btn btn-secondary btn-sm">File đính kèm</label>
                <input type="file" id="Add_file_attach" onchange="uploadMultipleFile(event)" name="files" style="display:none">
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-secondary btn-sm" onclick="choose_Document_NoHasArchive()">Add văn bản</button>
            </div>
        </div>
        <div class="modal fade" id="Popup_img" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="img_id" style="width:100%;height:100%">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Popup_img" onclick="Close_Popup_img()">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="choose_Document_NoHasArchive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="display:table">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Chọn văn bản đính kèm</h4>
                        <button type="button" class="close" onclick="Close_choose_Document_NoHasArchive()" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        @(Html.DevExtreme().DataGrid<Data.Models.Trading_system.Sp_GetDocument_Archive>().ID("grid_document_archive")
                                    .DataSource(ds => ds.Mvc()
                                        .Controller("Archives")
                                        .LoadAction("GetDocument_NoHasArchive")
                                        .LoadParams(new { id = ViewBag.id })
                                        .Key("DocId")
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns => {

                                        columns.AddFor(m => m.NumberSign).Caption("Số văn bản");

                                        columns.AddFor(m => m.Contents).Caption("Nội dung văn bản");

                                    })
                                    .Selection(s => s.Mode(SelectionMode.Multiple).Deferred(true))
                                    .HoverStateEnabled(true)
                                    .ShowBorders(true)
                                    .FilterRow(filter => filter.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .HeaderFilter(hearder => hearder.Visible(true))
                                    .AllowColumnResizing(true)
                                    .AllowColumnReordering(true)
                                    .ColumnFixing(c => c.Enabled(true))
                                    .ColumnAutoWidth(true)
                                    .ColumnFixing(c => c.Enabled(true))
                                    .Paging(paging => paging.PageSize(5))
                                    .Pager(paper =>
                                    {
                                        paper.ShowPageSizeSelector(true);
                                        paper.AllowedPageSizes(new[] { 5, 10, 20 });
                                        paper.ShowInfo(true);
                                    })
                                )
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="Choose_Document()">Chọn</button>
                        <button type="button" class="btn btn-default" data-target="#choose_Document_NoHasArchive" onclick="Close_choose_Document_NoHasArchive()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</form>
@* ------------------- _Partiview_DocArchive-------------------------------*@
<script type="text/javascript">
    function DeleteFile(r, Id) {
        var result = confirm("Are you sure you want to delete this file ?");
        if (result) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById('List_file_attach').deleteRow(i);
            try {
                $.post('/Archives/DeleteFileAttach', { 'Id': Id }, function (respone) {

                    $.notify("delete success", "success");
                });
            } catch {
                $.notify("something went wrong", "error");
            }
        }
    }
    function uploadMultipleFile(e) {
        var id = document.getElementById("id").value;
        var files = e.target.files;
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("files", files[i]);
            formData.append("id", id);
            var extensionFile = files[i].name;
            var markup = "<tr><td><a>" + extensionFile + "</a></td><td><a href='#' onclick='ViewFileAttach(\"" + extensionFile + "\")'><span class='fa fa-eye' aria-hidden='true'></span></a></td></tr>";
            $("#List_file_attach tbody").append(markup);
        }
        axios.post("/Archives/Add_file_attach", formData);
    }
    function ViewFileAttach(ex) {
        if (ex.endsWith(".png") || ex.endsWith(".jpeg") || ex.endsWith(".jpg")) {
            document.getElementById("img_id").src = '/FileUploads/ArchivesFileAttach/' + ex;
            $('#Popup_img').modal('show');
        }
        else {
            location.href = '/Archives/DownloadDocument/' + ex;
        }
    }
    function DownloadFileAttach(ex) {
        location.href = '/Archives/DownloadDocument/' + ex;
    }
    function choose_Document_NoHasArchive() {
        $('#choose_Document_NoHasArchive').modal('show');
    }
    function Close_choose_Document_NoHasArchive() {
        $("#choose_Document_NoHasArchive").modal('hide');
    }
    function Close_Popup_img() {
        $("#Popup_img").modal('hide');
    }
    function getDataGridInstance() {
        return $("#grid_document_archive").dxDataGrid("instance");
    }
    function Choose_Document() {
        getDataGridInstance().getSelectedRowsData().done(function (rowData) {
            var id = document.getElementById("id").value;
            var array = [];
            rowData.forEach(element => { array.push(element.DocId) })
            if (array.length != 0) {
                $.ajax({
                    traditional: true,
                    dataType: 'JSON',
                    url: '/Archives/Add_document_Archive',
                    type: 'POST',
                    data: { array: array, id: id },
                    success: function (data) {
                        $.notify(data, "success");
                        $("#choose_Document_NoHasArchive").modal('toggle');
                        $("#myModal").modal('toggle');
                    },
                    error: function () {
                        $.notify("something went wrong","error")
                    }

                })
                   
            }
        })
    }

</script>
    

