
@{
    ViewData["Title"] = "themBT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="height: 500px">
    <div class="">
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bảng tính giá trị nhập</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        @{
                            if (TempData["alertMessage"] != null)
                            {
                                <div style="color:red;font-size:30px">
                                    @TempData["alertMessage"].ToString()
                                </div>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="col-md-12 col-sm-12" style="height:auto">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Kho nhập</label>
                                            <div class="col-md-4 col-sm-4" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="khonhap" style="height:30px">
                                            </div>
                                            <label class="col-form-label col-md-2 col-sm-2">Số xe</label>
                                            @(Html.DevExtreme().DropDownBox()
                                                .ValueExpr("Id")
                                                .DisplayExpr("TruckNo")
                                                .DataSource(d => d.Mvc()
                                                    .Controller("lookup")
                                                    .LoadAction("getxevc_bt")
                                                    .LoadMode(DataSourceLoadMode.Raw)
                                                    .Key("Id")
                                                )
                                                .Placeholder("Select a value...")
                                                .ShowClearButton(true)
                                                .OnValueChanged("valuechange_xevc_bt")
                                                .ContentTemplate(new TemplateName("template_xevc_bt"))
                                                )

                                            @using (Html.DevExtreme().NamedTemplate("template_xevc_bt"))
                                            {
                                                @(Html.DevExtreme().DataGrid()
                                                .ID("xevc")
                                                .DataSource(new JS(@"component.getDataSource()"))
                                                .Columns(columns => {
                                                    columns.Add().DataField("TruckNo").Caption("Số xe");
                                                    columns.Add().DataField("Tenhang").Caption("Tên hàng");
                                                    columns.Add().DataField("KhachHang").Caption("Khách hàng");
                                                    columns.Add().DataField("Mahang").Caption("Mã hàng");
                                                    columns.Add().DataField("CanId").Caption("Mã cân");
                                                    columns.Add().DataField("BagTypeId").Caption("Mã túi");
                                                    columns.Add().DataField("SoBao").Caption("Số bao");
                                                    columns.Add().DataField("TlBaobi").Caption("Trọng lương bao bì");
                                                    columns.Add().DataField("Tl_Net").Caption("Trọng lượng");
                                                    columns.Add().DataField("Id").Caption("Mã");
                                                    columns.Add().DataField("Ngaycan").Caption("Ngày cân");
                                                    columns.Add().DataField("ghi_chu").Caption("Ghi chú");
                                                })
                                                .AllowColumnReordering(true)
                                                .AllowColumnResizing(true)
                                                .ColumnAutoWidth(true)
                                                .ColumnFixing(c => c.Enabled(true))
                                                .ShowBorders(true)
                                                .HoverStateEnabled(true)
                                                .Paging(p => p.PageSize(10))
                                                .FilterRow(f => f.Visible(true))
                                                .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
                                                .Height(345)
                                                .Selection(s => s.Mode(SelectionMode.Single))
                                                .SelectedRowKeys(new JS(@"component.option(""value"") ? [component.option(""value"")] : []"))
                                                .OnSelectionChanged(@<text>function(selectedItems) {
                                                    component.option("value", keys);
                                                    component.close();
                                            }</text>)
                                        )
                                            }
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Người giao</label>
                                            <div class="col-md-4 col-sm-4" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="nguoigiao" style="height:30px">
                                            </div>
                                            <label class="col-form-label col-md-2 col-sm-2">Đ.vị giao hàng</label>
                                            <div class="col-md-1 col-sm-1" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="MaKh">
                                            </div>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 10px">
                                                <input type="text" class="form-control" style="height:30px" id="TenKh">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">H.đồng</label>
                                            <div class="col-md-2 col-sm-2" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="SoHd" style="height:30px">
                                            </div>
                                            <label class="col-form-label col-md-1 col-sm-1" style="font-size:11px">Ngày HĐ</label>
                                            <div class="col-md-2 col-sm-2" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="NgayHd">
                                            </div>
                                            <label class="col-form-label col-md-2 col-sm-2">Người nhập hàng</label>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="Nvnhap">
                                            </div>
                                            <div class="col-md-1 col-sm-1" style="padding:0px 0px 0px 10px">
                                                @(Html.DevExtreme().CheckBox())
                                                <label>G/L</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">Số KCS</label>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="SoPkcs" style="height:30px">
                                            </div>
                                            <label class="col-form-label col-md-1 col-sm-1">P.nhập</label>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="SoPn">
                                            </div>
                                            <label class="col-form-label col-md-1 col-sm-1" style="font-size:11px">Kho nhập</label>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="TenKhoN">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Hàng hóa</label>
                                            <div class="col-md-2 col-sm-2" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="MaMh" style="height:30px">
                                            </div>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 10px">
                                                <input type="text" class="form-control" id="TenMh" style="height:30px">
                                            </div>
                                            <label class="col-form-label col-md-1 col-sm-1">Số bao</label>
                                            <div class="col-md-2 col-sm-2" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="SoBao">
                                            </div>
                                            <div class="col-md-2 col-sm-2" style="padding:0px 0px 0px 10px">
                                                <input type="text" class="form-control" style="height:30px" id="Dvtsb">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Trọng lượng(GW)</label>
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="SoLuong" style="height:30px">
                                            </div>
                                            <div class="col-md-1 col-sm-1" style="padding:0px 0px 0px 10px">
                                                <input type="text" class="form-control" id="Dvtsl" style="height:30px">
                                            </div>
                                            <label class="col-form-label col-md-2 col-sm-2">TL bao bì</label>
                                            <div class="col-md-4 col-sm-4" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" style="height:30px" id="TlbaoBi">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Trọng lượng tịnh(NW)</label>
                                            <div class="col-md-10 col-sm-10" style="padding:0px 0px 0px 0px">
                                                <input type="text" class="form-control" id="Tltinh" style="height:30px">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-12 col-sm-12" style="font-size:18px;padding:5px 0px 0px 5px;color:red"><b>I/ SỐ LƯỢNG VÀ CHẤT LƯỢNG THỰC TẾ</b></label>
                                        </div>
                                        <div class="form-group row">
                                            <form id="formExport" method="post">
                                                <input name="SpreadsheetWorkSessionId" type="hidden" value="" />
                                            </form>
                                            @(Html.DevExpress()
                                                .Spreadsheet("spreadsheet")
                                                .Height("500px")
                                                .Width("100%")
                                                .Ribbon(r => r
                                                    .Visible(true)
                                                    .ActiveTabIndex(0)
                                                    .Tabs(tabs => {
                                                        tabs.Clear();
                                                        tabs.Add()
                                                                .Title("File")
                                                                    .Items(items =>
                                                                    {
                                                                        items.AddButton()
                                                                                .Text("Save")
                                                                                .CommandName("save")
                                                                                .ShowText(true)
                                                                                .Icon("save");
                                                                        items.AddButton()
                                                                                .Text("Download as XLSX")
                                                                                .CommandName("download")
                                                                                .ShowText(true)
                                                                                .Icon("download");
                                                                        items.AddPrintItem().BeginGroup(true);
                                                                    });
                                                        tabs.AddHomeTab()
                                                                .Items(items =>
                                                                {
                                                                    items.Clear();
                                                                    items.AddUndoItem();
                                                                    items.AddRedoItem();
                                                                    items.AddCutItem();
                                                                    items.AddCopyItem();
                                                                    items.AddPasteItem();
                                                                });
                                                        tabs.AddInsertTab();

                                                        tabs.AddFormulasTab();

                                                        tabs.AddDataTab();

                                                        tabs.AddReviewTab();

                                                        tabs.AddViewTab();
                                                    })
                                                )
                                                .ClientSideEvents(events => {
                                                    events.OnCustomCommandExecuted("onCustomCommandExecuted");

                                                })
                                                .ConfirmOnLosingChanges(confirm => confirm.Enabled(false))
                                                .DocumentRequestHandlerUrl(Url.Action("DxDocRequest"))
                                                .Open(Model.DocumentId, Model.DocumentFormat, Model.ContentAccessorByBytes)
                                            )
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-12 col-sm-12" style="font-size:18px;padding:5px 0px 0px 5px;color:red"><b>II/ GIÁ TRỊ THANH TOÁN </b></label>
                                        </div>
                                        <div class="form-group row">
                                            <table class="table table-bordered" id="chitietnhapkho">
                                                <tr>
                                                    <th>Hợp đồng</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                    <th>Tiền hàng</th>
                                                    <th>VAT</th>
                                                    <th>Tổng</th>
                                                </tr>
                                                @{
                                                    for (var i = 0; i < 3; i++)
                                                    {
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    }
                                                }

                                            </table>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 col-sm-3" style="padding:0px 0px 0px 0px">
                                                <a asp-action="themBT" asp-controller="kho">
                                                    @(Html.DevExtreme().Button()
                                                            .Text("SAVE")
                                                            .Type(ButtonType.Default)
                                                            .StylingMode(ButtonStylingMode.Contained)
                                                            .Width(120)
                                                        )
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

